<div *ngFor="let tab of data;let i = index;">
  <div class="accordion" (click)="toggleAccordion($event, i, tab)"><span [innerHtml]='tab.title | keepHtml'></span> </div>
  <div class="panel" hide="!tab.isActive">
    <!--<input type="text">
    <p *ngFor="let child of item.data;let idx=index"> {{child['name'+idx]}} </p>-->
    <div *ngFor="let sItem of control.controls;let idx=index;">
     <!-- <p>{{child['Q1_S0']}}</p>-->
      <!--<div *ngFor="let sItem of control.controls;let idx=index;">--> 
       <!-- <p>{{sItem.id}}</p> -->
     <!--  <p *ngIf="child[sItem.id] !== undefined">{{child[sItem.id]}}</p>   -->
        <app-widget [item]="sItem" 
            [ngClass]="[sItem.width?'col-sm-'+sItem.width:'col-sm-12']"
             [data]="getControlData(tab.data, sItem.id)" *ngIf="getControlData(tab.data, sItem.id) !== undefined"></app-widget>
        <!--</div>-->
    </div> 
  </div>
</div>