
  .drag-icon {
    position: relative;
    /* background-color: #6C8FEE; */
    color: #fff;
    text-align: center;
    /* padding: 8px; */
    /* margin-right: 15px; */
    margin: 0 !important;
    height: 100%;
  }
  .drag-icon i:first-child {
    cursor: move;
  }
  .secondary-color
{
    background-color: #6c757d;
}