<div class="tab-wrap">

  <input type="radio" id="tab1" name="tabGroup1" class="tab" checked>
  <label for="tab1">Section One</label>

  <input type="radio" id="tab2" name="tabGroup1" class="tab">
  <label for="tab2">Section Two</label>

  <input type="radio" id="tab3" name="tabGroup1" class="tab">
  <label for="tab3">Section Three</label>

  <div class="tab__content">
    <h3>Section One</h3>
  </div>

  <div class="tab__content">
    <h3>Section Two</h3>
  </div>

  <div class="tab__content">
    <h3>Section Three</h3>
  </div>

</div>
