.modal
{
  background-color: rgba(0,0,0,.9);
  z-index: 9999;
}

.modal .modal-header
{
  padding: 3rem 2rem;
  border-bottom: none;
}

.modal .modal-header h4{
  display: block;
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 25px;
    color: #333333;
    font-weight: bold;
}

.modal .modal-header .modal-title i
{
  font-size: 30px;
  vertical-align:middle;
  margin-right: 15px;

}

.modal .modal-header .modal-title
{
  font-size: 15px;
  border: none;
}

.modal .modal-content
{
  background-color: #ffffff;
  border-radius: 15px;
    width: 80%;
    margin-left: 10%;
    margin-top: 50%;
    box-shadow: 0px 0px 50px 0px rgba(0,0,0,.4);
}

.modal .modal-footer
{
  padding: 0px;
}

.modal .modal-footer .btn
{
  font-size: 12px !important;
    padding: 15px;
    margin: 0;
    border: none;
    width: 50%;
    text-align: center;
    font-weight: 600;
    text-shadow: 0px 0px 2px rgba(0,0,0,.145) !important;
    box-shadow: none;
}

.modal .modal-footer .btn:first-child
{
  border-right: 1px solid rgba(0,0,0,.15);
}
