.container-fluid
{
  /* background: #3bb878; */
  height: 100vh;
  overflow: hidden;
}

.uploadedFiles
{
  margin-top: 15px;
  margin-bottom: 15px;
  height: 220px;
  overflow: auto;
}

h3{
    font-weight: 400;
}
.footer ul li, .footer ul li a
{
  width: 100%;
}

.message
{
  margin-top: 40%;
  text-align: center;
}

.message h3{
  color: #ffffff;
  font-size: 25px;
}

.message i.fa{
  padding: 5px;
  background: #efefef;
  border-radius: 5px;
  position: relative;
}

.message i.fa:nth-child(2)
{
  z-index: 3;
  color: #3bb878;
}

.message i.fa:first-child
{
  -webkit-transform: rotate(-50deg) translateX(15px) translateY(10px);
  color: #d9197c;
}

.message i.fa:last-child
{
  -webkit-transform: rotate(50deg) translateX(-15px) translateY(10px);
  color: #465294;
}
.item-border{
  border: 1px solid;
}
.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}