<div class="mt-5 container-fluid">
  <app-file-upload (messageEvent)="receiveMessage($event)" *ngIf="parentImg.name !== ''"></app-file-upload>
  <div class="col-sm-12 scrollableDiv">
      <div class="card">
          <div class="card-header">
              <h4 class="col-sm-3">Images</h4> 
              <span class="btn btn-sm light-blue text-white float-right"
                                  (click)="closeEditor()"><i
                                      class="fa fa-times-circle"></i></span>             
          </div>
          
          <div class="card-body">
            <div class="card-body">
                <div class="row">
                    <div class="form-group col-sm-12 p-0">
                        <label class="control-label mt-3 col-sm-4">Images</label>
                        <div class="col-sm-8">
                            <select class="form-control condition-control" (change)="changeImage($event)" [(ngModel)]="imageSelect">
                                <option value="" selected>Choose Image</option>
                                <option value="create">Create Image</option>
                                <option *ngFor="let item of fileToUpload" [value]="item.name">{{item.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-sm-12 p-0 img-center item-border" *ngIf="parentImg.name !== ''">
                      <label class="control-label mt-5 col-sm-4">{{parentImg.name}}</label>
                      <img class="mt-2 mb-2" height="80" width="80" [src]="(parentImg.base64 !== '')?'data:image/png;base64,'+parentImg.base64 : '../../assets/images/avatar.png'"/>
                      <span [hidden]="requireDel === false" class="btn btn-sm btn-danger text-white float-right mt-5 mr-2"
                      (click)="removeImage()"><i
                          class="fa fa-times-circle"></i></span>
                    </div>                    
                </div>
            </div>
              <div class="row" *ngIf="parentImg.name !== ''">
                  <div class="col-sm-12">
                      <div class="card">
                          <div class="card-header">
                              <h4 class="col-sm-9">Selected Image(s)</h4>
                          </div>
                          <div class="card-body">
                            <table class="table table-bordered table-striped">
                              <thead>
                                <tr>
                                    <th class="light-blue text-white">Name</th>
                                    <th class="light-blue text-white">File</th>
                                    <th class="light-blue text-white"></th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let item of fileChildUploads">
                                    <td><label class="control-label mt-5">{{item.name}}</label></td>
                                    <td>
                                      <img class="mt-1" height="80" width="80" [src]="'data:image/png;base64,'+item.base64"/>
                                    </td>
                                    <td>
                                      <span class="btn btn-sm btn-danger text-white float-right mt-5"
                                    (click)="removeChildImage(item)"><i
                                        class="fa fa-times-circle"></i></span>
                                    </td>
                                </tr>
                            </tbody>
                            </table>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <br />
  <br />
  <div class="row justify-content-center mt-3" align='center'>
      <div class="btn-group btn-group-lg">
          <button type="button" class="btn light-blue text-white" (click)="addImages()">Save</button>
        </div>
  </div>
</div>
<div class="fileUpload">  
<div class="form-group">
  <input type="file"
         id="file" #rootImg
         [hidden]='true'
         accept="image/jpeg,image/gif,image/png,image/x-eps"
         (change)="handleFileInputs($event)" />
</div>