.container-fluid
{
    padding: 5px 5px 5px 15px !important;
    position: relative;
}

img
{
    border: 2px solid;
    border-radius: 50px;
}

/* i{
    cursor: pointer;
    font-weight: bold;
    position: absolute;
    top: calc(50% - 20px);
    left: 5px;
    font-size: 20px;
    padding: 0px 10px;
} */
