<div class="detail-card">
  <div class="detail-card-header">
  <img src="{{item.img}}" width='100%' height='100%' />
  </div>
  <div class="detail-card-content">

    <a [hidden]='true' *ngIf="isShow()" href="#!" class="favourite text-muted"
    [ngClass]="{'selected': item.selected}"
    (click)="checkFavourite($event, item)" >
    <i class="fas fa-heart fa-2x"></i>
    </a>
    <div>
        <img *ngIf="item.hospitalImg!=null"  src="{{item.hospitalImg}}"  />
        <p>
        <small class="hospName">{{item.hospitalName | translate | titlecase}}</small>
          <small class="city">{{item.hospitalLocation | translate | titlecase}}</small>
        </p>
    </div>
    <div class="">
      <strong>{{item.name | translate | titlecase}}</strong>
      <p><i class="far fa-calendar-check text-red mr-2"></i><b class='text-light-blue'>
        {{item.appointmentNo | uppercase}}</b></p>
      <p><i class='far fa-clock text-light-blue mr-2'></i> {{item.appointmentDate | date : 'dd-MMM-yyyy hh:mm'}}</p>
      <!-- <p><i class='fa fa fa-birthday-cake text-green mr-2'></i> {{item.age}} Years</p> -->
      <p><i class='fa fa fa-birthday-cake text-green mr-2'></i> {{item.dob}}</p>
      <!-- <span class='badge light-blue' *ngIf="item.experience">{{item.experience}} years exp</span>  <span class='badge light-blue' *ngIf="item.fee">&#8377; {{item.fee}}</span>
      <p class="qualification text-muted" *ngIf="item.qualification">{{item.qualification | translate | uppercase}}</p>
      <p class="speciality text-muted" *ngIf="item.speciality">{{item.speciality | translate | titlecase}}</p>
      <p class="language text-muted" *ngIf="item.languages"><i class='fas fa-language'></i>: {{item.languages | translate | titlecase}}</p>

      <p *ngIf="item.address">{{item.address | titlecase}}</p>
      <p *ngIf="item.city"><span>{{item.city | titlecase}}</span>, <span>{{item.district | titlecase}}</span></p>
      <p *ngIf="item.state">{{item.state | titlecase}}</p>
      <p *ngIf="item.country">{{item.country | titlecase}}</p> -->
    </div>

  </div>
  <div class="card-footer" align='center'>

    <!-- <button class="btn btn-default" #btnMoreAction (click)='viewMore(item)' >{{item.leftAction | translate}}</button> -->
    <!-- float-right -->
    <button class="btn yellow" #btnNavigateAction (click)="navigateTo(item)">{{item.rightAction | translate}}</button>
  </div>
</div>
