<i class="material-icons">reorder</i>
<i class="material-icons">person</i>
<div class="mt-5 container-fluid scrollableDiv">
  <div class="col-sm-12">
      <div class="card">
          <div class="card-header">
              <h4 class="col-sm-3">Actions({{mapperAction.type}})</h4> 
              <span class="btn btn-sm light-blue text-white float-right"
                                  (click)="closeEditor()"><i
                                      class="fa fa-times-circle"></i></span>             
          </div>
          <div class="card-body">
            <div class="card-body">
                <div class="row">
                    <div class="form-group col-sm-6 p-0">
                        <label class="control-label mt-3 col-sm-4">API</label>
                        <div class="col-sm-8">
                            <select class="form-control condition-control" [(ngModel)]="actionType" (change)="chooseActionType()">
                                <option value="" selected>Choose API</option>
                                <option *ngFor="let item of actionTypes" [value]="item">{{item | titlecase}}</option>
                            </select>                                          
                        </div>
                    </div>
                </div>
            </div>
              <div class="row">
                  <div class="col-sm-12">
                      <div class="card">
                          <div class="card-header">
                              <h4 class="col-sm-9">Selected Action Target(s)</h4>                              
                          </div>
                          <div class="card-body">
                            <div class="col-sm-12" *ngIf="selectApiType === 'condition'">                                
                                    <!--<div class="col-sm-6">
                                        <label class="control-label mt-3 col-sm-5">Condition Type</label>
                                        <div class="col-sm-7">
                                            <select class="form-control" [(ngModel)]="conditionType" (change)="chooseConditionType()">
                                                <option value="" selected>Choose Type</option>
                                                <option *ngFor="let item of conditionTypes" [value]="item">{{item | titlecase}}</option>
                                            </select>                                          
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="control-label mt-3 col-sm-4">Criteria</label>
                                        <div class="col-sm-8">
                                            <select class="form-control" [(ngModel)]="criteria" (change)="chooseConditionType()">
                                                <option value="" selected>Choose Type</option>
                                                <option value="sall">{{'satisfy' | titlecase}} {{'all' | titlecase}}</option>
                                                <option value="saany">{{'satisfy' | titlecase}} {{'any' | titlecase}}</option>
                                            </select>                                          
                                        </div>
                                    </div>-->

                                <!--<div class="col-sm-12 mt-3">
                                    <table class="table table-bordered table-striped">
                                        <tbody>
                                            <tr *ngFor="let attr of conditionAttrs">
                                                <td>
                                                  <select class="form-control">
                                                      <option value="" selected>Choose Type</option>                                                      
                                                  </select>
                                                </td>
                                                <td>
                                                  <input class="form-control" type='text'/>
                                                </td>
                                                <td>
                                                    <select class="form-control">
                                                        <option value="" selected>Choose Type</option>
                                                        <option *ngFor="let item of operatorTypes" [value]="item.source">{{item.source}}</option>                                                      
                                                    </select>
                                                </td>
                                                <td>
                                                    <select class="form-control">
                                                        <option value="" selected>Choose Type</option>                                                      
                                                    </select>
                                                  </td>
                                                  <td>
                                                    <input class="form-control" type='text'/>
                                                  </td>
                                                  <td>
                                                    <span class="btn btn-sm light-blue text-white float-right mt-1"><i
                                                        class="fa fa-plus-circle"></i></span>
                                                  </td>
                                                  <td>
                                                    <span class="btn btn-sm light-blue text-white float-right mt-3"><i
                                                        class="fa fa-times-circle"></i></span>
                                                  </td>                                                
                                            </tr>
                                        </tbody>    
                                    </table>
                                </div>-->
                            </div>
                            
                            <div class="row">
                                <div class="col-sm-12">
                                    <div cdkDropList class="example-list mt-20" (cdkDropListDropped)="drop($event)">
                                        <div class="secondary-color example-box" *ngFor="let action of actionSet, index as i"
                                            cdkDrag>
                                            <div class="w-10 drag-icon">
                                                <i class="material-icons" cdkDragHandle>reorder</i>
                                            </div>
                                            <div class="w-100 drag-content">                                                
                                                <ul class="f-10">
                                                    <li *ngIf="action.type === 'condition'">
                                                        <!--<div class="col-sm-12 mt-3">
                                                            <ul class="nav nav-pills col-sm-12">
                                                                {{operator}}
                                                                <li [ngClass]="{'active': operator === 'and'}">
                                                                    <a href="javascript:void(0)" (click)="selectLogicalOperator('and')">AND</a>
                                                                </li>
                                                                <li [ngClass]="{'active': operator === 'or'}">
                                                                    <a href="javascript:void(0)" (click)="selectLogicalOperator('or')">OR</a>
                                                                </li>                                                               
                                                            </ul>                                                                                                                   
                                                        </div>-->
                                                        <div class="col-sm-12 mt-3">
                                                            <ul class="mb-3">
                                                                <li>
                                                                    <select class="form-control condition-control">
                                                                        <option value="" selected>Choose Type</option>  
                                                                        <option *ngFor="let item of decisionTypes"
                                                                            [value]="item.source">{{item.source}}</option>                                                    
                                                                    </select>
                                                                </li>
                                                                <li>
                                                                    <select class="form-control condition-control">
                                                                        <option value="" selected>Choose Type</option>  
                                                                        <option *ngFor="let item of operatorTypes"
                                                                            [value]="item.source">{{item.source}}</option>                                                    
                                                                    </select>
                                                                </li>
                                                                <li>
                                                                    <select class="form-control condition-control">
                                                                        <option value="" selected>Choose Type</option>  
                                                                        <option *ngFor="let item of decisionTypes"
                                                                            [value]="item.source">{{item.source}}</option>                                                    
                                                                    </select>
                                                                </li>
                                                            </ul> 
                                                        </div>
                                                    </li>
                                                    <li *ngIf="action.type === 'network'">
                                                    <app-auto-fill [data]="DBTablesAutoComplete" [selectedValue]="action.serviceId?action.serviceId:'Search Service'" [placeholder]="'Search Service'" (actionEvent)="getSelectedItem(action,$event)">
                                                    </app-auto-fill>
                                                    </li>
                                                    <li *ngIf="action.type === 'functions'">
                                                        <app-auto-fill [data]="functionList" [selectedValue]="action.serviceId?action.serviceId:'Search Function'" [placeholder]="'Search Function'" (actionEvent)="getSelectedItem(action,$event)">
                                                        </app-auto-fill>
                                                    </li>                                                 
                                                    <li *ngIf="action.type === 'network'">
                                                    <app-auto-fill [data]="httpMethods" [selectedValue]="action.operation?.id.source" [placeholder]="'Search Operation'" (actionEvent)="getSelectedOpr(action,$event)">
                                                    </app-auto-fill>
                                                    </li>
                                                    <li *ngIf="action.type === 'functions'">
                                                        <app-auto-fill [data]="navigationList" [selectedValue]="(action.operation && action.operation.mapping && action.operation.mapping[0].data && action.operation.mapping[0].data.length > 0)?action.operation.mapping[0].data[0].element?.name:'Search Template'" [placeholder]="'Search Template'" (actionEvent)="getSelectedElement(action,$event)" *ngIf="action.serviceId === 'navigation'">
                                                        </app-auto-fill>                                                        
                                                        <app-auto-fill [data]="elementsList" [selectedValue]="(action.operation && action.operation.mapping && action.operation.mapping[0].data && action.operation.mapping[0].data.length > 0)?action.operation.mapping[0].data[0].element?.name:'Search Element'" [placeholder]="'Search Element'" (actionEvent)="getSelectedElement(action,$event)" *ngIf="action.serviceId !== 'navigation' && action.serviceId !== 'report'">
                                                        </app-auto-fill>
                                                        <app-auto-fill [data]="reportList" [selectedValue]="(action.operation && action.operation.mapping && action.operation.mapping[0].data && action.operation.mapping[0].data.length > 0)?action.operation.mapping[0].data[0].element?.name:'Search Element'" [placeholder]="'Search Report'" (actionEvent)="getSelectedElement(action,$event)" *ngIf="action.serviceId === 'report'">
                                                        </app-auto-fill>                                                        
                                                        </li>
                                                        <!--<li *ngIf="action.type === 'navigate'">
                                                            <app-auto-fill [data]="templates" [selectedValue]="action.serviceId?action.serviceId:'Search Template'" [placeholder]="'Search Template'" (actionEvent)="getSelectedItem(action,$event)">
                                                            </app-auto-fill>
                                                        </li>-->                                                        
                                                </ul>
                                            </div>
                                            <!--<div class="dropdown" *ngIf="action.type !== 'condition' && action.type !== 'functions' && action.type !== 'navigate'">-->
                                            <div class="dropdown" *ngIf="action.type !== 'functions'">
                                                <button class="btn btn-default dropdown-toggle f-10 text-white" type="button" id="dropdownMenuButton"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="fa fa-cog f-10 mr-2"></i> Mapping
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                    <a *ngFor="let actonItem of mappingActions" class="dropdown-item f-12 p-3"
                                                    (click)="showMapping(actonItem, action)">
                                                        <i class="fa {{actonItem.icon}} f-10 fa-rotate-90 text-success"></i>
                                                        {{actonItem.desc}}
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="dropdown" *ngIf="action.type === 'functions'">
                                                <button class="btn btn-default f-10 text-white" type="button" (click)="showMapping({id:'input'}, action)">Mapping</button>
                                            </div>                                           
                                            <div class="w-10 delete-icon" (click)="delApi(action)" *ngIf="action.type === 'condition'">
                                                <i class="fas fa-plus-circle text-white f-15" ></i>
                                            </div>                                                                                         
                                            <div class="w-10 delete-icon" (click)="delApi(action)">
                                                <i class="fas fa-times-circle text-white f-15" ></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>                                
                            </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <br />
  <br />
  <div class="row justify-content-center mt-3" align='center'>
      <div class="btn-group btn-group-lg">
          <button type="button" class="btn light-blue text-white" (click)="addActionMapping()">Save</button>
         <!-- <button type="button" class="btn btn-secondary">Remove</button>-->
        </div>
  </div>
</div>

<!--<div class="modal show" id="fieldMapping" data-backdrop='static' *ngIf="false">
  <div class="modal-dialog model-dialog-ext">
      <div class="modal-content">
          <div class="modal-header secondary-color">
              <h4 class="modal-title text-white">Parameter Mapping</h4>
              <button type="button" class="close" data-dismiss="modal" (click)="closeFieldPopup()"><i class="fa fa-times text-white"></i></button>
          </div>
          <div class="modal-body">
              <div class="row">
                  <div class="col-sm-12">
                      <div class="panel panel-default">
                          <div class="panel-heading">
                              <h4 class="col-sm-6">Parameters</h4>
                              <span class="col-sm-5 mt-1 text-right"> Pass Through</span>
                              <input type="checkbox" class=""
                                  (change)="onInPassThrough()" />
                              <span class="btn btn-sm light-blue text-white float-right"
                                  (click)="addParam()"><i
                                      class="fa fa-plus"></i></span>
                          </div>
                          <div class="panel-body">
                              <div class="row">
                                  <div class="form-group col-sm-3 p-0" *ngIf="mappingType === 'input' && apiParams.length > 0">
                                    <label class="control-label mt-3 col-sm-4">Condition</label>
                                    <div class="col-sm-8">
                                      <select class="form-control" [(ngModel)]="decisionType">
                                        <option value="" selected>Choose</option>
                                        <option *ngFor="let item of decisionTypes"
                                        [value]="item.source">{{item.source}}</option>
                                    </select>
                                    </div>
                                </div>                                
                                  <div class="form-group col-sm-{{apiParams.length > 0?3:4}} p-0">
                                      <label class="control-label mt-3 col-sm-4">{{srcTagName}}</label>
                                      <div class="col-sm-8">
                                        <select class="form-control" [(ngModel)]="paramSrc">
                                          <option value="" selected>Choose</option>
                                          <option *ngFor="let item of sourceParams"
                                          [value]="item.paramName">{{item.paramName}}</option>
                                      </select>
                                      </div>
                                  </div>
                                  <div class="form-group col-sm-{{apiParams.length > 0?3:4}} p-0" *ngIf="mappingType === 'input'">
                                    <label class="control-label mt-3 col-sm-4">Opr</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" [(ngModel)]="operatorType">
                                            <option value="" selected>Choose</option>
                                            <option *ngFor="let op of operatorTypes"
                                                [value]="op.source">{{op.source}}</option>
                                        </select>
                                    </div>
                                  </div>                                  
                                  <div class="form-group col-sm-{{apiParams.length > 0?3:4}} p-0">
                                      <label class="control-label mt-3 col-sm-4">{{tgtTagName}}</label>
                                      <div class="col-sm-8">
                                          <select class="form-control" [(ngModel)]="paramTgt">
                                              <option value="" selected>Choose</option>
                                              <option *ngFor="let item of targetParams"
                                                  [value]="item.paramName">{{item.paramName}}</option>
                                          </select>
                                      </div>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-sm-12 table-responsive">
                                      <table class="table table-bordered f-12">
                                          <thead>
                                              <tr>
                                                  <th class="light-blue text-white">Element</th>
                                                  <th class="light-blue text-white" *ngIf="mappingType === 'input'">Operator</th>
                                                  <th class="light-blue text-white">Scope</th>
                                                  <th class="light-blue text-white"></th>
                                              </tr>
                                          </thead>
                                          <tbody *ngFor="let item of apiParams">
                                              <tr (click)="changeApiParam(item)">
                                                  <td>{{item.element}}</td>
                                                  <td *ngIf="mappingType === 'input'">{{item.operator}}</td>
                                                  <td>{{item.scope}}</td>
                                                  <td (click)="onDeleteApi(item)"><i
                                                    class="text-danger fas fa-times fa-4x"></i></td>
                                              </tr>
                                          </tbody>
                                      </table>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <div class="modal-footer">
              <div class="btn-group btn-group-lg">
                  <button type="button" class="btn light-blue text-white" data-dismiss="modal"
                  (click)="addApiMapping()">Update</button>
                </div>
          </div>
      </div>
  </div>
</div>-->

<jw-modal id="custom-modal-2">    
    <app-action-popup [provider]="fieldProvider" [mappingType]="mappingType" [sourceParams]="sourceParams" [targetParams]="targetParams" (actionEvent)="popupActionEvent($event)" *ngIf="isShowFieldPopup === true"></app-action-popup>
</jw-modal>

<!-- <div *ngFor="let actionEvent of actionEventSet">
  <app-event-mapper [eventAction]="actionEvent" [elementsArray]="frmMappingSet" [controls]='controlType.controls' [serviceData]="serviceData" *ngIf="actionEvent.controlId === item.id" (actionEvent)='onAcceptAction($event)'></app-event-mapper>
</div> -->

<!-- <app-alert [id]="callerId" [message]="'Operation not exists. Do you want to create?'"
  (actionEvent)="doAlertAction($event)" *ngIf="isShowAlert === true"></app-alert> -->