.speech
{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    width: 50px;
    height: 50px;
    padding-left: 8px;
    padding-top: 5px;
    max-width: 190px;
    border-radius: 50px;
    transition: all .2s  ease-in-out;
    overflow: hidden;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .7);
}

.speech .icon
{
    background: rgba(0,0,0,.1);
    border-radius: 50%;
    padding: 16px 18px !important;
    margin-left: -8px;
    margin-top: -5px;
    margin-right: 10px;
    box-shadow: 1px 0px 30px 0px rgba(0, 0, 0, .7);
}

.speech span
{
    opacity: 0;
    display: none;
    transition: all .2s ease-in-out;
    margin-top: 9px;
    width: 200px;
    position: absolute;
    margin-left: 55px;
}

.active
{
    width: 190px;
}

.active>span
{
    opacity: 1;
    display: block;
}

i.close-speech
{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 12px;
    padding: 7px 0px 7px 9px;
    border-radius: 50px;
    width: 25px;
    background: #6C8FEE;
    font-weight: bold;
    margin-left: -10px;
}