<div class="scrollableDiv">

  <div class="col-sm-12 header" align='center'>
    <span class="float-left">
      <a href='#!' (click)="gotoConsult($event)">
        <i class="yellow fas fa-user-md fa-2x text-white"></i>
        <p>Book Appointment</p>
      </a>
    </span>
    <span class="float-right">
      <a href='#!' (click)="gotoSecondOpenion($event)">
        <i class="yellow fas fa-user-md fa-2x text-white"></i>
        <!-- <img src="../../assets/images/SecondOpenion.png" > -->
        <p>Second Opinion</p>
      </a>
    </span>
  </div>
  <div class="clearfix"></div>
  <!-- <h4 *ngIf="card.length > 0" class='light-blue text-white'>Up Coming Consultations</h4>
    <div class="col-12">
    <app-card [data]="card" (actionEvent)="navigateRoute($event)"></app-card>
  </div>
  <div class="col-12" *ngIf="favdocs?.length>0" >
    <h4 class="subHeader">{{'fav_Doctors' | translate}}</h4>
    <div class="">
      <app-detail-card [isShown]= "false" [data]="favdocs" (actionEvent)="navigateDoctor($event)"></app-detail-card>
    </div>
  </div> -->
  <div class="col-12" *ngIf="specialization?.length>0" >
    <div class=''>
      <app-banner [banners]='appointmentBanner'></app-banner>
    </div>
    <h4 class="">Specializations</h4>
    <div class="">
      <app-images-grid [title]="title" [imageItems]="specialization"></app-images-grid>
    </div>
  </div>
  <div class="col-12" *ngIf="symptoms?.length>0" >

    <div class=''>
      <app-banner [banners]='secondOpBanner'></app-banner>
    </div>
    <h4 class="">Common Symptoms</h4>
    <a routerLink='/consult-now' class="subHeader light-blue text-white float-right">See More</a>
    <div class=''>
      <ul class='symptoms'> <!-- auto flow style -->
        <li *ngFor='let item of symptoms'>
          <!-- <a routerLink="{{item.path}}" [state]="{ SpecializationId : item.specializationId, Specialization: item.title, icon: item.icon }">
            <img class="img-fluid img-thumbnail" src="{{item.icon}}" alt="{{item.title}}">
            <p><b>{{item.title | titlecase}}</b></p>
          </a> -->
            <a routerLink="{{item.path}}" [state]="{id: item.id, title: item.title, SpecializationId : item.specializationId, Specialization: item.title, icon: item.icon }">
              <img [src]='item.icon' alt='{{item.title | titlecase}}' />
              <p class='text-center'><b>{{item.title | titlecase}}</b></p>
            </a>
        </li>
      </ul>
    </div>
    <!-- <div class="">
      <app-icons-grid [title]="title" [iconItems]="symptoms"></app-icons-grid>
    </div> -->
  </div>
  <div class="col-12" *ngIf="diagnosis?.length>0" >
    <div class=''>
      <app-banner [banners]='diagBanner'></app-banner>
    </div>
    <h4 class="">Diagnostic Services</h4>
    <span class="subHeader light-blue text-white float-right" (click)="gotoLabTest($event)">See More</span>
    <div class="">
      <app-images-grid [title]="title" [imageItems]="diagnosis"></app-images-grid>
    </div>
  </div>
  <div class="col-12 hospitals" *ngIf="clinics?.length>0" >

    <h4 class="">Hospitals</h4>
    <span class="subHeader light-blue text-white float-right">See More</span>
    <div class="">
      <app-images-grid [title]="title" [imageItems]="clinics"></app-images-grid>
    </div>
  </div>
  </div>
  <app-alert [message]="message" (actionEvent)="doAlertAction($event)"></app-alert>
