* {box-sizing: border-box;}

.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
}

.icon {
  text-align: center;
  border-top-right-radius:5px;
  border-bottom-right-radius:5px;
}

.input-field {
  padding: 10px;
  outline: none;
  border: 1px solid #6C8FEE;
  border-top-left-radius:0.25rem;
  border-bottom-left-radius:0.25rem;
  z-index: 9;
}

.btn
{
  z-index: 9;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
}