.detail-card
{
  background: #ffffff;
  display: block;
  margin:7px 0px;
  border-radius: 10px;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);
}

.detail-card .detail-card-content{
  padding: 15px;
  background: #ffffff;
  border-radius: 15px;
}

.detail-card .detail-card-content p{
  font-size: 12px;
  margin-bottom: 0;
}

.detail-card .card-footer{
  display: block;
  padding: 0px;
  background: #ffffff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: 1px solid rgba(250,241,250,1);
}

.detail-card .card-footer button:hover{
  text-decoration: none;
  outline: none;
  outline-width: 0;
  box-shadow: none;
}

.detail-card .card-footer button{
  /* margin: 0 2.5%;
    box-shadow:  0px 0px 10px 0px rgba(0,0,0,.145) !important;
  */
  border-radius: 0;
  width: 50%;
  display: inline-table;
  text-align: center;
  font-weight: 500;
  padding: 15px;

}

.detail-card .card-footer button:first-child
{
  border-bottom-left-radius: 10px;
  border-right: 1px solid;
}

.detail-card .card-footer button:last-child
{
  border-bottom-right-radius: 10px;
}

.detail-card .detail-card-content ul li
{
  list-style: none;
  display: inline;
}

.detail-card .detail-card-content ul li a
{
  padding: 5px;
}

.detail-card .detail-card-content ul li a i.fa:first-child
{
  font-size: 13px;
}

.text-danger
{
  color: #dc35459e !important;
  font-size: 13px !important;
}

.btn:first-child::after
{
  position: absolute;
  right: 0;
  top: 0;
  widows: 10px;
  content: '';
  background-color: white;
}

b
{
  font-size: 12px;
}

.text-light-blue
{
  color: #08158C !important;
}
