<app-jumbotron [data]="jumbotron" (actionEvent)="onNavigateBack($event)"></app-jumbotron>
<div class="container scrollableDiv">
  <div class='clearfix'><br/>
  <div class="row" align='center'>
    <div class="col-sm-12">
      <img src="./assets/images/medeza.png" width="70" height="70" />
    </div>
  </div>
  <div class='clearfix'><br/>
  <div class="row">
    <p>
      Online doctor consultation app for all your medical needs
    </p>
    <p>
      Consulting a qualified, experienced and trusted doctor is very important to effectively deal with health related issues.
    </p>
    <p>
      Medeza connects you to specialist and most trusted doctors. Consult with specialist across multiple specialties using text chat or video call.
    </p>
<br>
    <p>
      <b>Online Doctor Consultation: </b> Consult with the doctor from anywhere at the time suitable to you. No more waiting in the long queues at the hospital.
    </p>

    <p>
      Depending on your symptoms, ○ Select appropriate specialization(s) ○Select a doctor of your choice ○Book video consultation ○ Consult via video call ○ Get e-prescription & medical advice on your mobile.
    </p>
<br>
    <p>
      <b>Get Second opinion </b> from Super specialist doctors in Cardiology, Diabetology And Endocrinology, Gastroenterology, General Medicine, General Surgery, Obstetrics & Gynecology,  IVF, Nephrology, Neurology, Oncology, Orthopedics, Psychiatry,
      Pulmonology, Urology and more
    </p>
  <div class="clearfix"></div>
    <br><br>
    <p>
      <b>Our Strengths:</b>
    </p>

    <ul>
      <li>Intuitive and easy to use mobile app interface</li>
      <li>Ability to invite a family member to participate in the consultation process</li>
      <li>Get translator assistance when required in the consultation process</li>
      <li>Availability of best doctors online as per your time zone, including some of your public holidays</li>
      <li>Highly secure - Completely user privacy and data security</li>
      <li>Medical advice and Prescription is stored digitally on the app and sent as a PDF on email</li>
      <li>All your medical history/records digitally stored and made available to you on a click of a button.</li>
    </ul>

    <p>
      <b>Website: </b> <a href="https://www.medeza.in" target='_blank'>https://www.medeza.in</a>
    </p>

    <p><b>Email address </b> - Support@medeza.in	</p>
  </div>
</div>
