<div class="tabs">
  <ul class="tab-group mb-0 p-0">
    <!-- [class.active]="tab.active"  -->
    <li *ngFor="let tab of data; index as i"
      class="tab" [class.light-blue]='tab.active' [ngStyle]='{width:100/data.length+"%"}'
      (click)="changeTab(i)">
      <i class="icon f-12" [ngClass]="tab.iconClass" [class.text-white]='tab.active' *ngIf="tab.iconClass !== undefined"></i> 
      <div [innerHtml]="tab.title | keepHtml" [class.text-white]='tab.active' class='p-0 f-12'
      [ngClass]="[control.width?'col-sm-'+control.width:'col-sm-12']"></div>
    </li>
  </ul>
  <div class="tab-content-group">
    <ng-container *ngFor="let tab of data">
      <div class="tab-content" *ngIf="tab.active">
        <div *ngFor="let content of tab.content">
        <div *ngFor="let sItem of control.controls;let idx=index;">
          <app-widget [item]="sItem"
            [ngClass]="[sItem.width?'col-sm-'+sItem.width:'col-sm-12']"
             [data]="content[sItem.id]" *ngIf="content[sItem.id] !== undefined"></app-widget>
        </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>