/* .nav-header{
  height: 60px !important;
} */

.navbar{
  z-index: 4;
  background: transparent;
    display: block;
    outline: none;
    outline-offset: 0;
    outline-color: none;
    padding: 0;
    margin-bottom:0;
    /* box-shadow:0px 0px 10px 0px rgba(0,0,0,.145); */
}

.header{
  font-size: 15px;
}

#menu-toggle{
  padding: 15px;
}
