.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  margin-top: 10px;
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
/* notification settings */
ul
{
  padding-left: 0;
}

ul li
{
  list-style: none;
  position: relative;
}

ul li a{
  font-size: 15px;
  margin: 15px 0;
  border-radius: 5px;
  display: block;
  background-color: white;
  color: #666666;
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,.145);
  position: relative;
  text-decoration: none;
}

ul li a label{
  margin-bottom: 0;
  display: block;
  padding: 15px;
}

ul li a input[type='checkbox']
{
  vertical-align: sub;
  margin-right: 15px;
}

ul li a input[type='radio']
{
  position: absolute;
  right: 15px;
}

h4{
  padding: 15px;
    border-bottom: 1px solid rgba(0,0,0,.145);
    width: 100%;
}

ul li a i.fa-check{
  border-radius: 50px;
    padding: 5px;
    position: absolute;
    top: 13px;
    right: 15px;
    font-size: 12px;
    background-color: #cccccc;
}

/* notification settings */
.scrollableDiv{
  top:20px;
}
.form-group
{
  position: relative;
}

.form-group>i.fa
{
  position: absolute;
  right: 0;
  margin-right: 15px;
  font-size: 15px;
  margin-top: 14px;
  top: 0;
  color: #666666;
}