<div class="container">
  <div class='scrollableDiv'>
  <button class="accordion" (click)="toggle(0)" *ngIf="isPersonal()">Default Language</button>
  <div class="panel" *ngIf="isPersonal()">
    <ul>
      <li *ngFor="let item of $preferredLang; let i = index" >
        <a class='white selected'>
          <label for="{{item.langcode}}">
            <input type="radio" id='{{item.langcode}}' value='{{item.langcode}}'
            name='language'
            [(ngModel)]="langCodeSelected"
            (change)="selectLanguage($event, item)" /> {{item.langname}}
          </label>
        </a>
      </li>
    </ul>
  </div>

  <!-- Speech Recognition -->
  <button class="accordion" (click)="toggle(1)" >Speech</button>
  <div class="panel">
    <ul>
      <li>
        <a class='white selected'>
          <label for="sr">
            <input type="checkbox" id='sr' value='sr' [hidden]='true' [ngModel]="speechRecognition" (change)="chooseSpeechRecognition($event)" /> Speech Recognition
          </label>
          <i class="fas fa-check text-white" [ngClass]="{'green': speechRecognition}" (click)="chooseSpeechRecognition($event)"></i>
        </a>
      </li>
    </ul>
  </div>
  
  <button class="accordion" (click)="toggle(1)" *ngIf="isPersonal()">Notification Settings</button>
  <div class="panel" *ngIf="isPersonal()">
    <ul>
      <li>
        <a class='white selected'>
          <label for="W">
            <input type="checkbox" id='W' value='W' [hidden]='true' [ngModel]="whatsappSelected" (change)="selectDefNotification($event, 'W')" /> Whatsapp
          </label>
          <i class="fas fa-check text-white" [ngClass]="{'green': whatsappSelected}" (click)="selectDefNotification($event, 'W')"></i>
        </a>
      </li>
      <li>
        <a class='white'>
          <label for="E">
            <input type="checkbox" id='E' value='E' [hidden]='true' [ngModel]="emailSelected" (change)="selectDefNotification($event, 'E')" /> Email
          </label>
          <i class="fas fa-check text-white" [ngClass]="{'green': emailSelected}" (click)="selectDefNotification($event, 'E')"></i>
        </a>
      </li>
    </ul>
  </div>
  <div class="form-group" *ngIf="isPersonal()">
    <button type="button" class='btn yellow form-control' (click)="addPreference()">Change Preferences</button>
  </div>
  <button class="accordion" (click)="toggle(0)" *ngIf="isSecurity()">Change Password</button>
  <div class="panel" *ngIf="isSecurity()">
    <div id="changePwd">
      <div class="">
        <div class="col-sm-12">
          <div class="form-group">
            <input [type]="fieldTextType ? 'text' : 'password'" id='oldPassword' class="form-control" placeholder="Old Password" autocomplete='off' />
            <i class="fa " [ngClass]="{'fa-eye-slash': !fieldTextType, 'fa-eye': fieldTextType}" (click)="togglePassword()"></i>
          </div>
          <div class="form-group">
            <input [type]="fieldTextType ? 'text' : 'password'" id='password' class="form-control" placeholder="New Password" autocomplete='off' />
            <i class="fa " [ngClass]="{'fa-eye-slash': !fieldTextType, 'fa-eye': fieldTextType}" (click)="togglePassword()"></i>
          </div>
          <div class="form-group">
            <input [type]="fieldTextType ? 'text' : 'password'" id='confirmPassword' class="form-control" placeholder="Confirm Password" autocomplete='off' />
            <i class="fa " [ngClass]="{'fa-eye-slash': !fieldTextType, 'fa-eye': fieldTextType}" (click)="togglePassword()"></i>
          </div>
          <div class="form-group">
            <button type="button" class='btn yellow form-control' (click)="changePassword()">Change Password</button>
          </div>
        </div>
      </div>
  </div>    
  </div>
</div>
</div>