<div class="ml-3 w-10 drag-icon secondary-color" (click)="makeActiveControl($event, item)">
  <i class="fa fa-bars p-3 text-white" cdkDragHandle></i><br/>
  <input type="checkbox" name="control" [id]='item.id' class="ml-3 p-3 float-left"
                      [checked]='item.checked' (change)='makeActiveControl($event, item)' /><br/>
  <div class="dropdown mt-3">
      <button class="btn btn-default dropdown-toggle f-15" type="button" id="dropdownMenuButton"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-cog f-15 text-white mr-2"></i>
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a *ngFor="let acton of widgetActions" class="dropdown-item f-12 p-3"
          [ngClass]="[(acton.type === 'all' || acton.type === item.defaultType)?'':'d-none']" 
              (click)="doWidgetAction($event, acton.id, item)">
              <i class="fa {{acton.icon}} f-15 {{acton.class}}" *ngIf="acton.type === 'all' || acton.type === item.defaultType"></i>
              <span *ngIf="acton.type === 'all' || acton.type === item.defaultType">{{acton.desc}}</span>
          </a>
      </div>
  </div>
</div>