<div class="mt-5 container-fluid scrollableDiv">
  <div class="col-sm-12">
      <div class="card">
          <div class="card-header">
              <h4 class="col-sm-3">Actions</h4> 
              <span class="btn btn-sm light-blue text-white float-right"
                                  (click)="closeEditor()"><i
                                      class="fa fa-times-circle"></i></span>             
          </div>
          <div class="card-body">
            <div class="row mb-4">
              <div class="col-sm-12">
                  <div class="row">
                      <div class="col-sm-6">
                          <div class="col-sm-4 col-sm-offset-4 p-0">
                              <input type='text' [(ngModel)]="styleProperties.padding.top" class="f-12 text-center form-control" placeholder="top" />
                          </div>
                          <div class="col-sm-12 p-0">
                              <div class="col-sm-5">
                                  <input type='text' [(ngModel)]="styleProperties.padding.left" class="f-12 text-center form-control" placeholder="left" />
                              </div>
                              <div class="col-sm-2 p-0 mt-3" style="margin-left: -5px; margin-right: 5px;">
                                  <span><b class="f-12 text-red">Padding</b></span>
                              </div>
                              <div class="col-sm-5">
                                  <input type='text' [(ngModel)]="styleProperties.padding.right" class="f-12 text-center form-control" placeholder="right" />
                              </div>
                          </div>
                          <div class="col-sm-4 col-sm-offset-4 p-0">
                              <input type='text' [(ngModel)]="styleProperties.padding.bottom" class="f-12 text-center form-control" placeholder="bottom" />
                          </div>
                      </div>
                      <div class="col-sm-6">
                          <div class="col-sm-4 col-sm-offset-4 p-0">
                              <input type='text' [(ngModel)]="styleProperties.margin.top" class="f-12 text-center form-control" placeholder="top" />
                          </div>
                          <div class="col-sm-12 p-0">
                              <div class="col-sm-5">
                                  <input type='text' [(ngModel)]="styleProperties.margin.left" class="f-12 text-center form-control" placeholder="left" />
                              </div>
                              <div class="col-sm-2 p-0 mt-3">
                                  <span><b class="f-12 text-red">Margin</b></span>
                              </div>
                              <div class="col-sm-5">
                                  <input type='text' [(ngModel)]="styleProperties.margin.right" class="f-12 text-center form-control" placeholder="right" />
                              </div>
                          </div>
                          <div class="col-sm-4 col-sm-offset-4 p-0">
                              <input type='text' [(ngModel)]="styleProperties.margin.bottom" class="f-12 text-center form-control" placeholder="bottom" />
                          </div>
                      </div>
                  </div>
              </div>
          </div>


                  <div class="row">
                      <div class="col-sm-6">
                          <div class="col-sm-4 col-sm-offset-4 p-0">
                              <input type='text' [(ngModel)]="styleProperties.border.top" class="f-12 text-center form-control" placeholder="top" />
                          </div>
                          <div class="col-sm-12 p-0">
                              <div class="col-sm-5">
                                  <input type='text' [(ngModel)]="styleProperties.border.left" class="f-12 text-center form-control" placeholder="left" />
                              </div>
                              <div class="col-sm-2 p-0 mt-3" style="margin-left: -5px; margin-right: 5px;">
                                  <span><b class="f-12 text-red">Border</b></span>
                              </div>
                              <div class="col-sm-5">
                                  <input type='text' [(ngModel)]="styleProperties.border.right" class="f-12 text-center form-control" placeholder="right" />
                              </div>
                          </div>
                          <div class="col-sm-4 col-sm-offset-4 p-0">
                              <input type='text' [(ngModel)]="styleProperties.border.bottom" class="f-12 text-center form-control" placeholder="bottom" />
                          </div>
                      </div>
                      <div class="col-sm-6 styles">
                          <div class="row">
                          <ul>
                              <li>
                                  <b class='f-12' [ngStyle]="{'color.px': styleProperties.fontColor}">Font Color</b><br/>
                                  <input type="color" #txtFntClr [(ngModel)]="styleProperties.fontColor" id="txtFntClr" name="txtFntClr" /><br/>
                                  <b>{{txtFntClr.value}}</b>
                              </li>
                              <li>
                                  <b class='f-12' [ngStyle]="{'color.px': styleProperties.borderColor}">Border Color</b><br/>
                                  <input type="color" #txtBrdrClr [(ngModel)]="styleProperties.borderColor" id="txtBrdrClr" name="txtBrdrClr" /><br/>
                                  <b>{{txtBrdrClr.value}}</b>
                              </li>
                              <li>
                                  <b class='f-12' [ngStyle]="{'color.px': styleProperties.backgroundColor}">Background Color</b><br/>
                                  <input type="color" #txtBackClr [(ngModel)]="styleProperties.backgroundColor" id="txtBackClr" name="txtBackClr" /><br/>
                                  <b>{{txtBackClr.value}}</b>
                              </li>
                          </ul>
                      </div>
                      <div class="row">
                          <div class="form-group col-sm-12">
                              <label class='control-label text-red' [ngStyle]="{'font-weight': styleProperties.fontWeight}">Font Weight</label>
                              <div class="p-0 col-sm-12">
                                  <input type="range" class='rangeSlider' [(ngModel)]="styleProperties.fontWeight" #fntWt id='fntWt' step='100' min="100" max="700">
                                  <p><b class='f-15 float-right'>{{styleProperties.fontWeight}}</b></p>
                              </div>
                          </div>
                      </div>
                      </div>
          </div>
      </div>
  </div>
  </div>
  <br />
  <br />
  <div class="row justify-content-center mt-3" align='center'>
      <div class="btn-group btn-group-lg">
          <button type="button" class="btn light-blue text-white" (click)="addActionMapping()">Save</button>
        </div>
  </div>
</div>