/* ::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
} */

#sidebar-wrapper {
  height: 100vh;
  min-height: 100vh;
  /*margin-left: -25rem;*/
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
  position: relative;
  background: #ffffff;
  /*overflow: scroll;*/
  z-index: 6;
  /* padding: 15px; */
}

/* #sidebar-wrapper .sidebar-heading {

  font-size: 1.2rem;
  border-bottom: 1px solid #dddddd;
  height: 40px;
}
#sidebar-wrapper .sidebar-heading img{
  position: absolute;
  left: 0;
  top: 0;
  margin-left: 50px;
}
#sidebar-wrapper .sidebar-heading span {
  font-size: 25px;
  font-weight: 400;
  margin-left: 12rem;
  margin-top: .8rem;
  position: absolute;
  left: 0;
  top: 0;
} */

#sidebar-wrapper .list-group {
  width: 25rem;
  padding:0 15px;
  list-style: none;
  margin-top: 15px;
  margin-bottom: 15px;
}

#sidebar-wrapper .list-group li {
  margin-top: 3px;
  margin-bottom: 3px;
}

#sidebar-wrapper .footer{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 7px;
  border-top: 1px solid #cccccc;
}

#sidebar-wrapper .footer>img{
  height:50px;
  margin-left: 30%;
}

#sidebar-wrapper .list-group-item
{
  border: none;
  position: relative;
  padding-left: 5rem;
  font-size: 15px;
  background: transparent;
}

#sidebar-wrapper .list-group-item:hover
{
  background: #6C8FEE;
  color: #ffffff;
  border-radius: 3px;
  box-shadow: 0 4px 20px 0 rgba(0,0,0,.145);
}

#sidebar-wrapper .list-group-item>i{
position: absolute;
top: 0;
left: 0;
margin-top: 11px;
margin-left: 20px;
font-size: 15px;
}

.blue{
background: linear-gradient(60deg,#26c6da,#00acc1);
color: white;
border-radius: 3px;
}

.active{
background: #6C8FEE !important;
  color: #ffffff;
  border-radius: 3px;
  box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(156,39,176,.4);
}

.menuHeader
{
  padding: 10px 10px 10px 35px;
  background-color: rgba(0,0,0,.1);
  display: block;
  font-size: 15px;
  font-weight: 600;
}

#sidebar-wrapper .background{
width:25rem;
height:150px;
overflow-y:hidden;
overflow-x:auto;
position:relative;
background-image: linear-gradient(to right top, #537ceb, #8192ef, #a4a9f2, #c3c1f6, #dedbfa, #eae0fc, #f5e5fe, #ffeaff, #ffd6ed, #ffc5c1, #ffc088, #f7c851);
}

#sidebar-wrapper .background img{
-webkit-transform: scaleX(-1);
-moz-transform: scaleX(-1);
-o-transform: scaleX(-1);
transform: scaleX(-1);
}

#sidebar-wrapper .background:before{
content:'';
position:absolute;
left:0;
top:0;
width:100%;
height:100%;
/* background:rgba(0,0,0,.4); */
z-index:1;
}

#sidebar-wrapper .userDiv a
{
display: block;
  text-align: left;
  z-index: 9;
  color: #333333;
  font-size: 15px;
  padding: 7px 7px 7px 35px;
  text-decoration:none;
  /* background: rgba(0, 0, 0, .3); */
  background: #FAD760;
  font-weight: 600;
  border-top: 1px solid #FFFFFF;
}

#sidebar-wrapper .background a
{
position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: left;
  z-index: 9;
  color: #333333;
  font-size: 15px;
  padding: 7px 7px 7px 35px;
  text-decoration:none;
  /* background: rgba(0, 0, 0, .3); */
  background: #FAD760;
  font-weight: 600;
  border-top: 1px solid #FFFFFF;
}

/* #sidebar-wrapper .userDiv
{
position:absolute;
top:0;
left:0;
margin-top:12px;
margin-left:30%;
z-index:2;
text-align:center;
} */

#sidebar-wrapper .userDiv img
{
border-radius:50px;
border:2px solid #ffffff;
/* padding: 10px;
box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px 0px rgba(0,0,0,.4); */
}

#sidebar-wrapper .userDiv p{
font-size:15px;
font-weight:500;
/* color:#FFF; */
/* text-shadow: 0px 0px 10px rgba(0, 0, 0, 1); */
}

.poweredBy a
{
  display: block;
  cursor: pointer;
  padding: 15px;
  background-color: #f5f5f5;
}

.poweredBy a p
{
  margin-bottom: 0 !important;
}

@media screen and (max-width:991px)
{
  #sidebar-wrapper{
    margin-left: -30rem;
  }
}


.left-panel{
  overflow: scroll;
  height: 85vh;
}