
<!-- Label -->
    <div class='f-12 control-label d-block' *ngIf="item.type==='text'" [innerHtml]="(data?data:item.label) | keepHtml"></div>
    <!-- dropdown -->
    <div class="mb-3" 
    *ngIf="item.options?.length>0 && item.type==='dropdown'">
        <select        
        id='{{item.id}}' #ddlDrpDwn name='{{item.name}}' [(ngModel)]="item.value" class="form-control"
            (change)='onChoose($event, item, ddlDrpDwn.value)'>
            <!-- <option value="">Choose</option> -->
            <option *ngFor="let opt of item.options" value="{{opt.value}}" [selected]='opt.defaultSelect'>
                {{opt.value | titlecase}}</option>
        </select>
    </div>

    <!-- radio or checkbox group -->
    <div class="mb-3" *ngIf="item.options?.length>0 && item.type!=='dropdown'">
        <div class="form-check-inline pt-2 pb-2"
            [ngStyle]="{'display': item.alignment==='horizontal'?'inline-flex': 'flex'}"
            *ngFor="let opt of item.options; let i = index">
            <label class="form-check-label" for="{{opt.id}}">
                <input *ngIf="item.type!=='condition'" class="form-check-input" type="{{item.type}}"
                    name="{{item.name}}" id='{{opt.id}}' value='{{opt.value}}' [checked]='opt.defaultSelect'
                    [(ngModel)]="item.value"
                    (change)='checkChanged($event, item, opt);onChoose($event, item, opt.value);skipTo($event, item, opt.value)' />

                <input *ngIf="item.type==='condition'" class="form-check-input" type="radio"
                    name="{{item.name}}" id='{{opt.id}}' value='{{opt.value}}' [checked]='opt.defaultSelect'
                    [(ngModel)]="item.value"
                    (change)='checkChanged($event, item, opt);onChoose($event, item, opt.value);skipTo($event, item, opt.value)'>                        
                {{opt.value | titlecase}}
            </label>
        </div>
    </div>

    <!-- AUTO COMPLETE -->
    <app-auto-fill *ngIf="item.type==='autoComplete'" [data]="toolTypes" (actionEvent)="getSelectedItem($event, item)"></app-auto-fill>

    <!-- matrix table -->
    <div class="form-group mb-3 table-responsive" *ngIf="item.type==='matTable'">
        <div class="btn-group float-right" role="group" aria-label="form buttons" *ngIf='item?.autoGrow===true'>
            <button type="button" class="btn btn-secondary btn-lg" (click)="addMatTableRow(item)"> Add Row</button>
            <button type="button" class="btn btn-secondary btn-lg" *ngIf='item.controls?.length>1' (click)="removeMatTableRow(item, $event)">Remove Row</button>
        </div>
        <table class="table table-bordered f-12 text-left table-striped">
            <thead [hidden]='!item.reqTabHead'>
                <tr>
                    <th class="text-white light-blue" *ngFor="let mat of Object.keys(item.controls?item.controls[0]:item.matTable[0]).sort()">
                        {{item.controls?(item.controls[0][mat].headerName):(item.matTable[0][mat].headerName)}}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of item.controls?item.controls:item.matTable;let rowIndex = index" (click)="selectRow($event, item)">
                    <td [ngStyle]="{'width': (100/Object.keys(item.controls?item.controls[0]:item.matTable[0]).length)+'%', 'border': item.reqTabBorder===true?'':'none'}"
                        style='vertical-align: middle;'
                        *ngFor="let prop of Object.keys(item.controls?item.controls[0]:item.matTable[0]).sort(); let tabCol = index">

                        <!-- add controls in each cell -->
                        <!-- text -->
                        <b class="ml-3" *ngIf="row[prop].control?.defaultType === 'text'"
                            [innerHTML]='row[prop].control?.label'></b>

                        <!-- AUTO COMPLETE -->
                        <app-auto-fill *ngIf="row[prop].control?.type==='autoComplete'" [data]="toolTypes" (actionEvent)="getSelectedItem($event, row[prop].control)"></app-auto-fill>

                        <!-- input -->
                        <div class="pl-0"
                            *ngIf="row[prop].control?.options?.length === 0 && row[prop].control?.defaultType==='input'">
                            <input maxlength="500" *ngIf="row[prop].control?.type!=='file'" [type]='row[prop].control?.type'
                                [id]='row[prop].control?.id' [name]='row[prop].control?.name'
                                [(ngModel)]="row[prop].control.value" class="form-control"
                                [min]='row[prop].control?.min' [max]='row[prop].control?.max'
                                [step]='row[prop].control?.step' />

                            <!-- IMAGE -->
                            <div class="form-group mb-3 text-right" *ngIf="row[prop].control.type==='file' && row[prop].control.value!=''">
                                <a href='#!' class="text-light-blue f-15" (click)='openDrawingTool($event, row[prop].control)'><i class="fas fa-pen"></i> Edit</a>
                                <img [src]="row[prop].control.value" width="100%" class="img-thumbnail img-rounded img-responsive" alt='form image'>
                            </div>
                        </div>

                        <!-- textarea -->
                        <div class="col-md-12 col-sm-6 p-0"
                            *ngIf="row[prop].control?.options?.length === 0 && row[prop].control?.type==='textarea'">
                            <textarea maxlength="2000" rows="2" [id]='row[prop].control?.id'
                                [(ngModel)]="row[prop].control.value" [name]='row[prop].control?.name'
                                class="form-control"></textarea>
                                <!-- <p class="float-right"><small>max Length: 2000</small></p> -->
                        </div>

                        <!-- dropdown -->
                        <div class=""
                            *ngIf="row[prop].control?.options?.length>0 && row[prop].control?.type==='dropdown'">
                            <select id='{{row[prop].control?.id}}' #ddlMatDrpDwn
                                name='{{row[prop].control?.name}}' [(ngModel)]="row[prop].control.value"
                                class="form-control"
                                (change)='onChoose($event, row[prop].control, ddlMatDrpDwn.value)'>
                                <!-- <option value="">Choose</option> -->
                                <option *ngFor="let opt of row[prop].control?.options" value="{{opt.value}}"
                                    [selected]='opt.defaultSelect'>{{opt.value | titlecase}}</option>
                            </select>
                        </div>

                        <!-- condition -->
                        <div class=""
                            *ngIf="row[prop].control?.options?.length>0 && row[prop].control?.type==='condition'">
                            <div class="form-check-inline pt-2 pb-2" style="display: inline-flex"
                                *ngFor="let opt of row[prop].control?.options; let i = index">
                                <label class="form-check-label" for="{{opt.id}}">
                                    <input *ngIf="row[prop].control?.type==='condition'"
                                        class="form-check-input" type="radio"
                                        id='{{opt.id}}' [checked]='opt.defaultSelect'
                                        (change)='checkChanged($event, row[prop].control, opt);skipTo($event, row[prop].control, opt.value)'>
                                   <!--<input *ngIf="row[prop].control?.type==='condition'"
                                        class="form-check-input" type="radio" name="{{row[prop].control?.name}}"
                                        id='{{opt.id}}' value='{{opt.value}}' [checked]='opt.defaultSelect'
                                        [(ngModel)]="row[prop].control.value"
                                        (change)='checkChanged($event, row[prop].control, opt);skipTo($event, row[prop].control, opt.value)'>-->
                                    {{opt.value | titlecase}}
                                </label>
                            </div>
                        </div>

                        <div class=""
                            *ngIf="row[prop].control?.options?.length>0 && row[prop].control?.type!=='dropdown' && row[prop].control?.type!=='condition'">
                            <div class="form-check-inline pt-2 pb-2"
                                [ngStyle]="{'display': item.alignment==='horizontal'?'inline-flex': 'flex'}"
                                *ngFor="let opt of row[prop].control?.options; let i = index">
                                <label class="form-check-label" for="{{opt.id}}">
                                    <input *ngIf="row[prop].control?.type!=='condition'"
                                        class="form-check-input" type="{{row[prop].control?.type}}"
                                        name="{{row[prop].control?.name}}" id='{{opt.id}}' value='{{opt.value}}'
                                        [checked]='opt.defaultSelect' [(ngModel)]="row[prop].control.value"
                                        (change)='checkChanged($event, row[prop].control, opt);skipTo($event, row[prop].control, opt.value)' />
                                    {{opt.value | titlecase}}
                                </label>
                            </div>
                        </div>
                        <!-- CUSTOM WIDGET -->
                        <div class="col-md-12 col-sm-6 p-0"
                        *ngIf="row[prop].control?.options?.length === 0 && row[prop].control?.defaultType==='custom'" [innerHtml]="row[prop].control?.text | safeHtml">
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Input -->
    <div class="" *ngIf="item.options?.length === 0 && item.defaultType==='input'">
        <input maxlength="500"
        *ngIf="item.type!=='file'" [type]='item.type' [id]='item.id' [name]='item.name'
            [class.form-control]="item.type!=='file'" [min]='item.min' [max]='item.max' [step]='item.step'
            [(ngModel)]="item.value" />

        <!-- IMAGE -->
        <div class="form-group mb-3" *ngIf="item.type==='file' && item.value!=''">
            <div class="text-right" style='width: 500px; height: auto'>
                <a href='#!' class="text-light-blue f-15" (click)='openDrawingTool($event, item)'><i class="fas fa-pen"></i> Edit</a>
                <img [src]="item.value" width="100%" class="img-thumbnail img-rounded img-responsive" alt='form image'>
            </div>
        </div>
    </div>
<!-- IMAGE WIDGET -->
<div class="col-md-12 col-sm-6 p-0"
    *ngIf="item.options?.length === 0 && item.type==='image'">
    <img [src]="item.value" class="img-rounded img-responsive" alt='form image'>
</div>
    <!-- Multi Line -->
    <div class="" *ngIf="item.options?.length === 0 && item.type==='textarea'">
        <textarea maxlength="2000"
        rows="2" [id]='item.id' [name]='item.name' [(ngModel)]="item.value" class="form-control"
            style='height: 100px !important'></textarea>
            <p class="float-right"><small>max Length: 2000</small></p>
    </div>

    <!-- Data Table -->
    <app-data-table *ngIf="item.type === 'data-table'" [tableData]="item.data" class="mt-3 col-sm-12" (actionEvent)='onRowClick($event)'></app-data-table>    
    <!--<app-data-table *ngIf="item.type === 'dataTable'" [dtBody]="[{ VISITDATE: '20-20-2020' }]" [dtHeader]="[{ title: 'VISITDATE', data: 'VISITDATE' }]" [dtCaption]="item.label" class="mt-3 col-sm-12" (actionEvent)='onRowClick($event)'></app-data-table>-->

    <!-- Button -->
    <div class="" [align]='item.alignment' *ngIf="item.options?.length === 0 && item.defaultType==='button'">
        <button 
        [id]='item.id' [name]='item.name' class="btn light-blue text-white btn-lg mb-4"
            (click)="onSubmit($event, item)">
            {{item.label | titlecase}}
        </button>
    </div>  

    <!-- Basic Table -->
    <div *ngIf="item.defaultType==='table'">
        <table class="table table-bordered table-striped f-12 text-left">
            <thead>
                <tr>
                    <th class="light-blue text-white" *ngFor="let hItem of data.dtHeader">
                        {{hItem.title}}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let rItem of data.dtBody">
                    <td *ngFor="let hItem of data.dtHeader">
                        <label class="control-label">{{rItem[hItem.data] | titlecase}}</label>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <app-accordion-widget *ngIf="item.defaultType === 'accordion'" [control]="item"></app-accordion-widget>
    
    <app-tab-widget [data]="data" *ngIf="item.defaultType === 'tabs'" [control]="item"></app-tab-widget>

<!-- CUSTOM WIDGET -->
<div class="col-md-12 col-sm-6 p-0"
    *ngIf="item.options?.length === 0 && item.defaultType==='custom'" [innerHtml]="item.text | safeHtml">
</div>
<!-- LINE WIDGET -->
<hr *ngIf="item.options?.length === 0 && item.defaultType==='line'">