<div class="container-fluid light-blue text-white">
    <!-- <img class="float-left" [src]="patient.img!='' && patient.img!=null ? 'data:image/png;base64,'+patient.img : '../../assets/images/avatar.png'" width="70px" height="70px" /> -->
    <i #backBtn (click)="onClickBack(0)" class="d-none">&larr;</i>
    <img class="float-left mr-4" src="{{patient.img}}" width="70px" height="70px" />
    <div class="p-3">
        <h3><b class="text-white">{{patient.PATIENT_NAME | uppercase}}</b></h3>
        <p class="text-white f-12">
            <i class='fas fa-money-bill'></i> {{patient.APPOINTMENTNO}} |
            <i class='fas fa-clock'></i> {{patient.VISITDATE}} |
            <i class='fas fa-user-alt'></i> {{patient.GENDER==='M'?'Male':(patient.GENDER==='F'?'Female': 'Other')}} |
            <i class='fas fa-thermometer'></i> {{patient.AGE}} |
            <i class='fas fa-mobile-alt'></i> {{patient.MOBILE}}</p>
    </div>
</div>
