<!-- <div class="container-fluid" >
  <h1 class="font-weight-light text-lg-left mt-4 mb-0">Thumbnail Gallery</h1>
  <hr class="mt-2 mb-5">
  <div class="row text-center text-lg-left">
    <div class="col-lg-3 col-md-4 col-4" *ngFor="let iconItem of iconItems">
      <a href="#" class="d-block mb-4 h-100">
            <i class="{{iconItem.icon}} text-blue" style="font-size: 100px;"></i>
            <p style="font-size: 15px;">{{iconItem.title}}</p>
      </a>
    </div>
  </div>
</div> -->

<div class="container-fluid">
  <div class="row text-center text-lg-left">
    <div class="col-lg-3 col-md-4 col-4" *ngFor="let imageItem of iconItems">
    <a routerLink="{{imageItem.path}}" [state]="{ SpecializationId : imageItem.id, Specialization: imageItem.title, icon:imageItem.icon }" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="{{imageItem.icon}}" alt="">
            <p><b>{{imageItem.title | titlecase}}</b></p>
      </a>
    </div>
  </div>
</div>
