
.ng-autocomplete {
    width:100%;
    max-width: 100%;
    display: table;
    margin: 0 auto;
  }

  .symptom h4{
    border-bottom: 1px solid #efefef;
    padding: 15px;
    width: 100%;
    display: block;
    margin-bottom: 15px;
    font-size: 13px;
  }

  .symptom .form-group{
    margin-bottom: 0px;
  }

  .symptom ul{
    padding: 0 15px;
    display: -webkit-inline-box;
    margin: 0;
  }

  .symptom ul li
  {
    list-style: none;
    display: inline-grid;
  }

  .symptom ul li a
  {
      text-transform: capitalize;
      /* background: #00BFA6; */
      font-size: 12px;
      padding: 7px 15px;
      border-radius: 50px;
      margin: 5px;
      font-weight: bold;

  }

  .symptom ul li a i
  {
    margin-left: 7px;
    margin-right:0;
    color: white;
    vertical-align: middle;
  }

  .autocomplete-container
  {
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0) !important;
  }

  .autocomplete-container .input-container input
  {
    border: 1px solid #cccccc;
    border-radius: 5px;
  }
  .autocomplete-container .suggestions-container.is-visible {
    visibility: visible !important; 
    z-index: 9 !important;
  }