<!-- The Modal -->
<div class="modal show" id="alertPopup" *ngIf="isShowAlert === true">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">{{message}}</h4>
        <!-- <i class='fas fa-info-circle'></i>  -->
        <button type="button" class="close d-none" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn text-red" (click)='navigateTo(0)' data-dismiss="modal">No</button>
        <button type="button" class="btn text-green" (click)='navigateTo(1)' data-dismiss="modal">Yes</button>
      </div>

    </div>
  </div>
</div>
