.secondary-color
{
    background-color: #6c757d;
}

ul
{
    padding-left: 0;
}

.tools ul li
{
    list-style: none;
    padding: 5px 15px;
    cursor: pointer;
    position: relative;
}

table tr td:first-child
{
    vertical-align: middle !important;
}

ul li i
{
    width:20px;
}
.toolBar
{
    height:100vh;
    border-left: 1px solid rgba(0,0,0,0.145);
    overflow-y: scroll;
}

.toolBar h4
{
    border-radius: 2px;
}

.toolBar ul li
{
    font-size: 12px;
}

table tr td:last-child
{
    padding: 0 !important;
}

table tr td .form-control
{
    font-size: 12px !important;
    height: 3rem !important;
    margin-bottom: 0 !important;
}

.tools
{
    height:50%;
    overflow: scroll;
}
.properties
{
    height:45%;
    overflow: scroll;
}

.properties ul
{
    border: 1px solid #cccccc;
    border-left: none;
    border-right: none;
}

.properties .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link
{
    border-bottom: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
}

.properties ul li a.nav-link.active
{
    background-color: #6c757d !important;
    color: #ffffff !important;
}

.properties ul li
{
    width:33.3333%;
    text-align: center;
}

.properties ul li a
{
    margin: 0 !important;
    font-weight: bold !important;
    color: #333333 !important;
    border-right: 1px solid #cccccc;
}

.properties ul li a:last-child
{
    border-right: none;
}


input[type="color"] {
    -webkit-appearance: none;
     width: 30px;
     height: 30px;
     border: 0;
     border-radius: 50%;
     padding: 0;
     overflow: hidden;
     box-shadow: 2px 2px 5px rgba(0,0,0,.1);
 }
 input[type="color"]::-webkit-color-swatch-wrapper {
     padding: 0;
 }
 input[type="color"]::-webkit-color-swatch {
     border: none;
 }

 .rangeSlider {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    
  }
  
  .rangeSlider:hover {
    opacity: 1;
  }
  
  .rangeSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #6C8FEE;
    cursor: pointer;
    border-radius:50px;
  }
  
  .rangeSlider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: #6C8FEE;
    cursor: pointer;
    border-radius:50px;
  }

  .styles ul, .styles ul li
  {
    display: inline-block !important;
  }

#preview
{
    overflow: scroll;
    max-height: 200px;
}
.widget-box{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 60vh;
}