<div class="mt-5 container-fluid scrollableDiv">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h4 class="col-sm-3">Mapping</h4> 
                <span class="btn btn-sm light-blue text-white float-right"
                                    (click)="closeEditor()"><i
                                        class="fa fa-times-circle"></i></span>             
            </div>
            <div class="card-body">                
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="col-sm-6">Parameters</h4>
                                <span class="col-sm-5 mt-1 text-right">Pass Through</span>
                                <input type="checkbox" [(ngModel)]="isPassThrough"
                                    (change)="onPassThrough($event)"/>
                                <span class="btn btn-sm light-blue text-white float-right"
                                    (click)="addParam(mappedParam)"><i
                                        class="fa fa-plus"></i></span>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="form-group p-0 col-sm-12" >
                                        <label class="control-label mt-3 col-sm-5">Association Type</label>                                        
                                        <select class="form-control col-sm-5">                                            
                                            <option value="1" selected>Inner Join</option>
                                            <option value="2">Left Join</option>
                                        </select>                                        
                                    </div>                                     
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-3 p-0" *ngIf="mappingType === 'input' && apiParams.length > 0">
                                    <label class="control-label mt-3 col-sm-12">Condition</label>
                                    <div class="col-sm-12">
                                        <select class="form-control" (change)="changeDecType(mappedParam)" [(ngModel)]="mappedParam.decisionType.source">
                                        <option value="" selected>Choose</option>
                                        <option *ngFor="let item of decisionTypes"
                                        [value]="item.source">{{item.source}}</option>
                                    </select>
                                    </div>
                                </div>                                
                                    <div class="form-group col-sm-{{apiParams.length > 0?3:4}} p-0">
                                        <label class="control-label mt-3 col-sm-12">Source</label>
                                        <div class="col-sm-12" [ngClass]="[disableDiv?'disabledDiv':'']">
                                            <app-auto-fill [data]="sourceParams" [selectedValue]="mappedParam.source.paramName" [placeholder]="'Search Service'" (actionEvent)="getSourceElement(mappedParam, $event)">
                                            </app-auto-fill>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-{{apiParams.length > 0?3:4}} p-0" *ngIf="mappingType === 'input'">
                                    <label class="control-label mt-3 col-sm-12">Opr</label>
                                    <div class="col-sm-12">
                                        <select class="form-control" (change)="changeOprType(mappedParam)" [(ngModel)]="operatorType">
                                            <option value="" selected>Choose</option>
                                            <option *ngFor="let op of operatorTypes"
                                                [value]="op.source">{{op.target}}</option>
                                        </select>
                                    </div>
                                    </div>                                  
                                    <div class="form-group col-sm-{{apiParams.length > 0?3:4}} p-0">
                                        <label class="control-label mt-3 col-sm-12">{{mappingType === 'input'?'Target':'Type'}}</label>
                                        <div class="col-sm-12">
                                            <app-auto-fill [data]="targetParams" [selectedValue]="getTargetLabel()" [placeholder]="'Search Service'" (actionEvent)="getTargetElement(mappedParam, $event)" (notFoundEvent)="getTargetFoundItem(mappedParam, $event)" (changeEvent)="getTargetFoundItem(mappedParam, $event)">
                                            </app-auto-fill>                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 table-responsive">
                                        <table class="table table-bordered f-12">
                                            <thead>
                                                <tr>
                                                    <th class="light-blue text-white">Source</th>
                                                    <th class="light-blue text-white" *ngIf="mappingType === 'input'">Operator</th>
                                                    <th class="light-blue text-white">{{mappingType === 'input'?'Target':'Type'}}</th>
                                                    <th class="light-blue text-white"></th>
                                                </tr>
                                            </thead>
                                            <tbody *ngFor="let item of apiParams">
                                                <tr (click)="changeApiParam(item)">
                                                    <td>{{item.source.paramName}}</td>
                                                    <td *ngIf="mappingType === 'input'">{{item.operatorType.target}}</td>
                                                    <td>{{mappingType === 'input'?(item.target.paramValue?item.target.paramValue:item.target.paramName):item.target.paramType}}</td>
                                                    <td (click)="onDeleteApi(item)"><i class="text-danger fas fa-times fa-4x"></i></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btn-group btn-group-lg">
                    <button type="button" class="btn light-blue text-white" data-dismiss="modal"
                    (click)="addApiMapping()">Update</button>
                </div> 
            </div>
        </div>
    </div>
</div>  