.detail-card
{
  background: #ffffff;
  display: block;
  margin: 15px 0;
  border-radius: 10px;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);
  position: relative;
}
.detail-card .detail-card-header{
  width:120px;
  /* height:150px; */
  overflow: hidden;
  background: #ffffff;
  border-radius: 10px;
  border: none;
  float: left;
  /* padding: 0px 15px 0px 0px */
  padding: 15px 15px 0px 15px;
}

.detail-card .detail-card-content{
  padding: 15px;
  background: #ffffff;
  border-radius: 15px;
  padding-bottom: 20px;
  /* min-height: 150px; */
}

.detail-card .detail-card-content a.favourite
{
    right: 15px;
    top: 15px;
    position: absolute;
    z-index: 2;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,.145);
    border-radius: 50px;
    width: 30px;
    height: 30px;
    padding: 7px 5px;
}

.detail-card .detail-card-content>div:first-child{
  position: relative;
}

/* .detail-card .detail-card-content>div:last-child{
  margin-top: 30px;
} */

.detail-card .detail-card-content img{
  width: 65px;
  height: 20px;
  border-right: 1px solid rgba(250,241,250,1);
  float: left;
  padding-right: 7px;
  margin-right: 7px;
}

.detail-card .detail-card-content>div small{
  /*  position: absolute; */
    /* top: -2px; */
    /* right: 0; */
    /* margin-left: 175px; */
    display: block;
    /* width: 80px; */
    display: block;
    /* display: -webkit-box; */
    max-width: 400px;
    /* height: 109.2px; */
    margin: 0 auto;
    line-height: 1.4;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
    color: #333333;
}

.detail-card .detail-card-content>div small:last-child{
  /* position: absolute; */
    /* top: 10px; */
    /* right: 0; */
    /* display: block; */
    /* width: 80px; */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.detail-card .detail-card-content p{
  margin: 0;
  padding: 0;
  font-size: 11px;
  font-weight: 400;
  display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.detail-card .detail-card-content .hospName
{
    font-size: 11px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: -4px !important;
}

.detail-card .detail-card-content strong
{
  font-size: 15px;
  text-transform: capitalize;
  color: #333333;
  display: block;
  margin: 7px 0;
  font-weight: 600;
}

.detail-card .detail-card-content .badge
{
  padding: 5px;
  text-transform: capitalize;
  font-size: 10px;
  margin-right: 10px;
}

.detail-card .detail-card-content
{
  color: #333333;
}

.detail-card .card-footer{
  display: block;
  /* padding: 7px 7px; */
  padding: 0px;
  background: #ffffff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: 1px solid rgba(250,241,250,1);
}

.detail-card .card-footer button:hover, .detail-card .card-footer button:focus, .detail-card .card-footer button:active{
  text-decoration: none;
  outline: none;
  outline-width: 0;
  box-shadow: none;
  /* background: gray !important; */
}

.detail-card .card-footer button{
  /* margin: 0 2.5%;
  width:45%; */
  width: 100%;
  /* box-shadow: 0px 0px 10px 0px rgba(0,0,0,.4) !important; */
  display: inline-table;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  /* padding: 15px 0; */
  padding: 7px 14px;
  border-radius: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* .detail-card .card-footer button:first-child
{
  width:30%;
}

.detail-card .card-footer button:last-child
{
  width:60%;
} */

.description
{
  display: block;
  /* Fallback for non-webkit */
  display: -webkit-box;
  max-width: 400px;
  height: 109.2px;
  /* Fallback for non-webkit */
  margin: 0 auto;
  line-height: 1.4;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
  color: #333333;
}

.selected
{
  -webkit-transition: all .5s ease-in-out;
  color: #e2686d !important;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,.145);
}

.btn-default
{
  background: #efefef !important;
}
