a
{
  cursor: pointer;
}

.secondary-color
{
    background-color: #6c757d;
}

.border-radius-5
{
    border-radius: 5px;
}

.e-toolbar-wrapper
{
    display: contents !important;
}

.e-toolbar
{
    white-space: normal !important;
}

ul
{
    padding-left: 0;
}

ul li
{
    list-style: none;
    padding: 7px;
    cursor: pointer;
    position: relative;
}

ul li i
{
    width:20px;
}

h4
{
    font-weight: bold;
}

.panel-body
{
  display: flex;
    flex-direction: row;
}

.panel-body ul.conditionsBlock
{
    display: flex;
}

.panel-body ul.conditionsBlock>li.right:last-child
{
    position: absolute;
    right: 15px;
}

.panel-body ul.conditionsBlock>li.right:nth-last-child(2)
{
    position: absolute;
    right: 45px;
}

.panel-body ul.conditionsBlock>li.right:nth-last-child(3)
{
    position: absolute;
    right: 15px;
}

.panel-body>div:first-child
{
    word-wrap: break-word;
}

.panel-body>div:last-child
{
    border-left: 1px solid #f5f5f5;
}

.panel:first-child
{
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
}

.panel:last-child
{
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}

.panel .addQue
{
    display: none;
    position: absolute;
    right: -8px;
    top: -8px;
    cursor: pointer;
    z-index: 10;
}

/* .questionDiv .panel .addQueBottom
{
    display: none;
    cursor: pointer;
    position: absolute;
    right: -8px;
    bottom: -8px;
    z-index: 10;
} */

.panel .dismissQue
{
    position: absolute;
    right: -8px;
    /* top: calc(45% - 6px); */
    display: none;
    bottom: -8px;
    z-index: 10;
    cursor: pointer;
}

.panel
{
    border-bottom: 0;
    border-radius: 0 !important;
    position: relative;
}

.panel:hover>.panel-body>.dismissQue,
.panel:hover>.panel-body>.addQue,
.panel:hover>.panel-body>.addQueBottom
{
    display: block;
}

.panel .question:hover, .panel .option:hover, .panel .queLabel:hover
{
    background-color: #f5f5f5;
    cursor: pointer;
}

.panel .queLabel
{
  position: relative;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.panel .queLabel i{
  position: absolute;
  float: right;
  right: 5px;
  top: 8px;
  /* bottom: 15px;
  left: 0;
  margin-left: calc(55% - 12px); */
}

.toolBar
{
    height:100vh;
    border-left: 1px solid rgba(0,0,0,0.145);
    overflow-y: scroll;
}

.toolBar h4
{
    border-radius: 2px;
}

.toolBar ul li
{
    font-size: 12px;
}

.editorBtn
{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background: #fafafa;
    border: 2px solid #efefef;
    border-bottom: 0;
    margin-bottom: -2px;
}

.blank>img
{
    -webkit-filter: brightness(100);
    -moz-filter: brightness(100);
    -o-filter: brightness(100);
    filter: brightness(100);
    border: 1px solid rgba(0,0,0,.15);
}

.modal-header
{
    border-bottom: none;
}

.modal-body>.col-sm-12>div
{
    cursor: pointer;
    border-radius: 5px;
}

.modal-body i{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,.145);
    border-radius: 50px;
    display: none;
}

.modal-body .active
{
    border: 1px solid rgba(0,0,0,.105);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.145);
}

.modal-body .active>i
{
    display: block !important;
}

/* table tbody tr td{
    padding: 0;
} */

.dropdown-item
{
    padding: .5rem 1.5rem .5rem 3rem !important;
    position: relative;
    color: #555555;
}

.dropdown-item>i
{
    position: absolute;
    top: 6px;
    left: 8px;
}

.dropdown-toggle
{
    padding: 0 !important;
}

.dropdown-toggle:after { content: none !important }

#ddlSkipTo option
{
    font-weight: bold !important;
}
.breakWord
{
    word-break: break-all !important;
}

.card-body
{
    visibility: visible !important;
}

.subMenu
{
    width: 150px;
  background-color: #ffffff;
  display: none;
  border: 1px solid;
  top: 0;
  left: 100%;
  margin-top: -1px;
  position:absolute;
}

li.dropdown-submenu:hover>.subMenu
{
  display: block;
}

.dropdown-submenu {
  position: relative;
}

/* .dropdown-submenu {
    position: relative;
  }
  
  .dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
  }

  a.test:hover>ul.dropdown-menu
  {
    display: block;
  } */

  /* ACCORDION START */
  .accordion {
    border-radius: 5px;
    /* background-color: #eee;
    color: #444; */
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    position: relative;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 10px;
    margin-right: 15px;
}
  /* ACCORDION END */
  /* TABS START */
  .tabs {
    /* min-width: 320px;
    max-width: 800px; */
    padding: 50px;
    margin: 50px auto;
    background: #fff;
    border-radius: 4px;
  }

  .tab {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 15px 25px;
    text-align: center;
    color: #555;
    border: 1px solid transparent;
    cursor: pointer;
  }

  .icon {
    margin-right: 10px;
  }

  .tab.active {
    border: 1px solid #ddd;
    border-top: 2px solid #f44336;
    border-bottom: 1px solid #fff;
  }

  .tab-content {
    /* display: none; */
    padding: 20px;
    border: 1px solid #ddd;
    line-height: 1.6rem;
  }
  /* TABS END */

  .border
  {
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .accordion-body
  {
      border-radius: 5px;
      border-color: #6C8FEE;
  }

/* DRAG START */
.example-list {
    /* width: 500px; */
    max-width: 100%;
    /* border: solid 1px #ccc; */
    min-height: 60px;
    display: block;
    background: white;
    border-radius: 4px;
    /* overflow: hidden;   */
  }
  
  .drag-icon {
    position: relative;
    /* background-color: #6C8FEE; */
    color: #fff;
    text-align: center;
    /* padding: 8px; */
    /* margin-right: 15px; */
    margin: 0 !important;
  }
  .drag-icon i:first-child {
    cursor: move;
  }
  i.disable{
    position: absolute;
    cursor: not-allowed !important;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: transparent;
  }

  .example-box:last-child{
    border-bottom: solid 1px #ccc;
  }

  .example-box {
    /* padding: 20px 10px; */
    border: solid 1px #ccc;
    border-bottom: none;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: space-between;
    box-sizing: border-box;
    background: white;
    font-size: 14px;
    padding-right: 15px;
  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  /* .example-box:last-child {
    border: none;
  } */
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
/* DRAG STOP */