.icon-body{
    overflow:scroll;height: 80%;background: #ffffff;
}

.img-fluid
{
  border-radius: 16px;
    padding: 0px;
    border: none;
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,.145);
    min-height: 50px;
}

p
{
  font-size: 10px;
  font-weight: 500;
  margin-top: .5rem;
  text-align: center;
  margin-top: 10px;
}

a{
  text-decoration: none;
}
