<div class="container">
  <div class="row">
    <div class="col-12">
      <app-jumbotron [data]="jumbotron" (actionEvent)="onNavigateBack($event)"></app-jumbotron>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
        <br/>
        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="white">
          <div class="form-group">
            <label for="password">Old Password</label>
            <input [type]="fieldTextType ? 'text' : 'password'" id='password' autocomplete='off' formControlName="OldPassword" placeholder='Old Password' class="form-control" [ngClass]="{ 'is-invalid': submitted && f.OldPassword.errors }" />
            <i class="fa " [ngClass]="{'fa-eye-slash': !fieldTextType, 'fa-eye': fieldTextType}" (click)="togglePassword()"></i>
            <div *ngIf="submitted && f.OldPassword.errors" class="invalid-feedback">
              <div class='text-danger' *ngIf="f.OldPassword.errors.required">This field is required</div>
          </div>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input [type]="fieldTextType ? 'text' : 'password'" id='password' autocomplete='off' formControlName="Password" placeholder='Password' class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Password.errors }" />
            <i class="fa " [ngClass]="{'fa-eye-slash': !fieldTextType, 'fa-eye': fieldTextType}" (click)="togglePassword()"></i>
            <div class='pwdConditions' *ngIf="f.Password.errors">
              <ul>
                <li>Your password should:</li>

                <li>
                  <label [ngClass]="f.Password.hasError('required') ||
                f.Password.hasError('minlength') ? 'text-danger' : 'text-success'"
                >
                  <i class="fas {{ f.Password.hasError('required') || f.Password.hasError('minlength') ? 'fa-window-close' :
                  'fa-check' }}"></i>
                    Be atleast 6 characters in length
                  </label>
                </li>

                <li>
                  <label [ngClass]="f.Password.hasError('required') ||
                  f.Password.hasError('hasString')  ? 'text-danger' : 'text-success'"
>
  <i class="fas {{ f.Password.hasError('required') ||
  f.Password.hasError('hasString') ? 'fa-window-close' :
  'fa-check' }}"></i>
  Must contain atleast 1 letter
</label>
                </li>

                <li>
                  <label [ngClass]="f.Password.hasError('required') ||
  f.Password.hasError('hasNumber')  ? 'text-danger' : 'text-success'"
>
  <i class="fa {{ f.Password.hasError('required') ||
  f.Password.hasError('hasNumber') ? 'fa fa-window-close' :
  'fa-check' }}"></i>
  Must contain atleast 1 number
</label>
                </li>
              </ul>
            </div>
          </div>
          <div class="form-group">
            <label for="password">Confirm Password</label>
            <input [type]="fieldTextType ? 'text' : 'password'" autocomplete='off' formControlName="ConfirmPassword" placeholder='Confirm Password' class="form-control" [ngClass]="{ 'is-invalid': submitted && f.ConfirmPassword.errors }" />
            <i class="fa " [ngClass]="{'fa-eye-slash': !fieldTextType, 'fa-eye': fieldTextType}" (click)="togglePassword()"></i>
            <div *ngIf="submitted && f.ConfirmPassword.errors" class="invalid-feedback">
              <div class='text-danger' *ngIf="f.ConfirmPassword.errors.required">This field is required</div>
          </div>
          <div class='text-danger' *ngIf="form.status == 'INVALID'">Password do not match</div>
          </div>
          <div class="form-group">
            <label for=''></label>
            <button class="btn btn-primary form-control">Change Password</button>
          </div>
        </form>
    </div>
  </div>
</div>
{{form.status}}<br>
{{form.status == 'INVALID'}}<br>
  {{form.value | json}}
