<div *ngIf="item.type!=='button' && item.type!=='loadForm'" class="question f-12"
id='question{{widgetIndex}}' (click)="openEditor($event, item, widgetIndex);">
  <b class="e2e-inner-html-interpolated" [innerHTML]="item.label"></b>
</div>
<div class="">
<button id='editorBtn{{widgetIndex}}' type="button"
  class="editorBtn btn light-blue text-white d-none"
  (click)="getEditorText($event, item);hideEditor($event, item, widgetIndex)">
  <i class="fa fa-check"></i>
</button>
<ejs-richtexteditor id='iframe{{widgetIndex}}' class="d-none" [(value)]='item.ejsValue'
  [toolbarSettings]='tools'></ejs-richtexteditor>
</div>