.box-list {
  display: flex;
    align-items: center;
    flex-direction: column;
  /* when cdkDropListOrientation="horizontal" comment out flex properties below: */
  /* flex-direction: row; */
  padding: .5em 0;
}

.box-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.drag-box {
  background-color: #6C8FEE;
  border: dashed #6C8FEE 1px;
  color: #ffffff;
  cursor: move;
  display: block;
  border-radius: 50px;
    box-sizing: border-box;
    flex-grow: 1;
  margin: .25em;
  padding: .5em 1.5em;
  width: 90%;
  text-align:left;
}

.cdk-drag {
  /* this is the animation that fires for the drag */
    transition: transform 150ms ease;
}

.cdk-drag-animating {
  /* this is the animation that fires for the drop */
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-placeholder {
  /* setting opacity to zero makes a blank space between list items during drag preview */
  opacity: 0;
}

.cdk-drag-preview {
  background-color: #6C8FEE;
  box-sizing: border-box;
  border-radius: 50px;
  padding: .5em 1.5em;
  font-size: 12px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
  opacity: .7;
}

