.dropdown-toggle::after
{
  display: contents !important;
}

.dropdown-item
{
  padding: .75rem 1.5rem !important;
}

.dropdown-menu
{
  border: none;
  top: 25px !important;
  -webkit-transform: translateX(-155px) !important;
  -moz-transform: translateX(-155px) !important;
  -ms-transform: translateX(-155px) !important;
  -o-transform: translateX(-155px) !important;
  transform: translateX(-155px) !important;
}

.dropdown-menu a{
  font-size: 12px;
}

.dropdown-menu a i
{
  width: 15px !important;
}

.dropdown-toggle .fa-ellipsis-v
{
  padding: 5px 8px;
  font-size: 12px;
  /* background: #efefef; */
}

.dropdown>a.dropdown-toggle:hover>i.fa-ellipsis-v, .show i.fa-ellipsis-v
{
  border-radius: 50px;
  background: #efefef !important;
}

/* @media screen and (min-width:576px)
{
  .dropdown-menu
  {
    top: 5px !important;
    left: -110px !important;
  }
}

@media screen and (max-width:575px)
{
  .dropdown-menu
  {
    top: 5px !important;
    left: -45px !important;
  }
} */

