<div class="dropdown">
  <a href="#" class="dropdown-toggle text-muted" data-toggle="dropdown"><i class="fa fa-ellipsis-v"></i></a>
  <div class="dropdown-menu">
      <!-- <a href="#!" class="dropdown-item text-muted"><i class='fas fa-pen'></i> Update Appointment</a> -->
      <!-- <a href="#" class="dropdown-item text-muted" (click)="onNavigation($event, 'reScheduleApp')"><i class='fas fa-file-prescription'></i> Reschedule Appointment</a> -->
      <a href="#!" class="dropdown-item text-muted" (click)="onNavigation($event, 'cancelApp')"><i class='fas fa-times'></i> Cancel Appointment</a>
      <a href="#!" class="dropdown-item text-muted" (click)="onNavigation($event, 'viewDiagnostics')"><i class='fas fa-microscope'></i> View Diagnostic Reports</a>
      <a href="#!" class="dropdown-item text-muted" (click)="onNavigation($event, 'viewPastPresc')"><i class='fas fa-prescription'></i> View Past Prescrptions</a>
      <a href="#!" class="dropdown-item text-muted" (click)="onNavigation($event, 'viewPresc')"><i class='fas fa-prescription'></i> View Prescription</a>
  </div>
</div>
