/* .jumbotron
{
  height: 100vh;
} */

.jumbotron h2{
    padding: 15px 0;
  }
  
  #password:focus> #password + pwdConditions
  {
      display:none;
  }
  
  .pwdConditions
  {
      border-top: 1px solid #efefef;
      background: #ffffff;
      padding-top: 7px;
      padding-bottom: 7px;
      border-radius: 5px;
  }
  
  .pwdConditions ul
  {
      margin-bottom: 0;
      padding-left: 15px;
  }
  
  .pwdConditions ul li
  {
      font-size: 12px;
      list-style: none;
  }
  
  .form-group
  {
      position: relative;
  }
  
  .form-group label, .invalid-feedback div
  {
      font-size: 12px;
  }
  
  .form-group>i.fa
  {
      position: absolute;
      right: 0;
      margin-right: 15px;
      font-size: 15px;
      margin-top: 36px;
      top: 0;
      color: #666666;
  }
  
  b{
    font-size: 15px;
    font-weight: 700;
  }
  
  .form-check
  {
    padding-left: 0;
  }
  
  .form-check label
  {
    margin-left: 20px;
  }
  