<div class="contaier-fluid">
    <div class="row">
        <div class="col-sm-12 mt-2">
            <!--<div class="col-sm-6 pl-0">
                <label class="control-label col-sm-4 mt-3">Department</label>
                <div class="col-sm-8">
                    <select class="form-control" id='deptCode' [(ngModel)]="selectedDept" #deptCode (change)='onchangeDepartment()'>
                        <option value="">Choose Department</option>
                        <option *ngFor="let item of departments" value='{{item.DEPTCODE}}'>
                            {{item.DEPTNAME | titlecase}}
                        </option>
                    </select>
                </div>
            </div>-->
            <div class="col-sm-12 mt-2" align='right'>
                <span class="btn btn-secondary" (click)="createTemplate()"><i
                    class="fa fa-plus f-15 text-white"></i> Create Template</span>
                    
                <!--<a [routerLink]="['/template']" [state]="{}" class="btn btn-secondary"><i
                        class="fa fa-plus f-15 text-white"></i> Create Template</a>-->
            </div>
        </div>
    </div>
    <hr />
    <!--<app-data-table [dtBody]="templates" class="mt-3 col-sm-12" (actionEvent)='onRowClick($event)'></app-data-table>-->
    <!--<app-display-data [dtBody]="templates" [dtHeader]="tabHeaders" class="mt-3 col-sm-12" (actionEvent)='onRowClick($event)'></app-display-data>-->
    <!--<display-templates class="mt-3 col-sm-12" (actionEvent)='onRowClick($event)'></display-templates>-->
    <app-data-table [dtBody]="dtBody" [dtHeader]="dtHeader" [dtCaption]="'Templates'" class="col-sm-12"
        (actionEvent)='onRowClick($event)' *ngIf="isDisplayTable === true"></app-data-table>
</div>