<!-- INPUT -->
<div class="col-md-12 col-sm-6 p-0 form-group mb-0"
    *ngIf="item.options?.length === 0 && item.defaultType==='input'">
    <input maxlength='500' 
    [type]='item.type' [id]='item.id' [name]='item.name'
        [class.form-control]="item.type!=='file'" class="form-control" [min]='item.min'
        [max]='item.max' [step]='item.step' [disabled]="item.type!=='file'"        
        (change)="getBase64($event, item)" />

    <!-- IMAGE -->
    <div class="form-group mb-3" *ngIf="item.type==='file' && item.value!=''">
        <img [src]="item.value" style='width:500px; height: auto'
            class="img-rounded img-responsive" alt='form image'>
    </div>
</div>
<!-- IMAGE WIDGET -->
<div class="col-md-12 col-sm-6 p-0"
    *ngIf="item.options?.length === 0 && item.type==='image'">
    <img [src]="item.value" class="img-rounded img-responsive" alt='form image'>
</div>
<!-- TEXTAREA -->
<div class="col-md-12 col-sm-6 p-0"
    *ngIf="item.options?.length === 0 && item.type==='textarea'">
    <textarea maxlength='2000'
    disabled [id]='item.id' [name]='item.name'
        class="form-control"></textarea>
        <p class="float-right"><small>max Length: 2000</small></p>
</div>

<!-- DROPDOWN CONTROL -->
<div class="form-group mb-0" *ngIf="item.type==='dropdown' && item.options?.length>0">
    <div class="pt-2 pb-2" *ngFor="let opt of item.options; let i = index">
        <i class="fa fa-times-circle text-danger mt-2 mr-5 float-left"
            (click)="removeOption($event, item, opt)"></i>
        <!-- EDITABLE OPTION -->
        <app-inline-edit #option class="f-12" name="{{opt.value}}"
            (actionEvent)='modifyOption($event, item, opt, "option")'>
            {{option.name | titlecase}}
        </app-inline-edit>
    </div>
    <button *ngIf="item.type!=='condition'" type="button" class="btn light-blue text-white"
        (click)="addNewOption($event, item)">Add new option</button>
</div>
<!-- RADIO or CHECKBOX -->
<div class="form-group mb-0" *ngIf="item.type!=='dropdown' && item.options?.length>0">
    <div class="form-check-inline pt-2 pb-2"
        [ngStyle]="{'display': item.alignment==='horizontal'?'inline-flex': 'flex'}"
        *ngFor="let opt of item.options; let i = index">
        <!-- -inline -->
        <i *ngIf="item.type!=='condition'" class="fa fa-times-circle text-danger mt-2 mr-5"
            (click)="removeOption($event, item, opt)"></i>
        <!-- <label class="form-check-label" for="radio{{i}}"> -->
        <input *ngIf="item.type!=='condition'" class="form-check-input" type="{{item.type}}"
            name="{{item.name}}" id='{{opt.id}}' value='{{opt.value}}'
            [checked]='opt.defaultSelect' (change)='checkChanged($event, item, opt)'>

        <input *ngIf="item.type==='condition'" class="form-check-input" type="radio"
            name="{{item.name}}" id='{{opt.id}}' value='{{opt.value}}'
            [checked]='opt.defaultSelect' (change)='checkChanged($event, item, opt)'>
        <app-inline-edit #option class="f-12" name="{{opt.value}}"
            (actionEvent)='modifyOption($event, item, opt, "option")'>
            {{option.name | titlecase}}
        </app-inline-edit>

        <!-- </label> -->
    </div>
    <button *ngIf="item.type!=='condition'" type="button" class="btn light-blue text-white"
        (click)="addNewOption($event, item)">Add new option</button>
</div>
<!-- BUTTON -->
<div class="col-md-12 col-sm-6 pl-0 pr-0" [align]='item.alignment'
    [ngClass]="item.styleClasses"    
    *ngIf="item.options?.length === 0 && item.type==='button'">
    <button
    [id]='item.id' [name]='item.name' class="btn light-blue text-white btn-lg mb-4">
        <app-inline-edit #option class="f-12" name="{{item.label}}"
            (actionEvent)='modifyOption($event, item, "", "button")'>
            <span class="text-white">{{option.name | titlecase}}</span>
        </app-inline-edit>
    </button>
</div>
<!-- CUSTOM WIDGET -->
<div class="col-md-12 col-sm-6 p-0"
    *ngIf="item.options?.length === 0 && item.defaultType==='custom'" [innerHtml]="item.text | safeHtml">
</div>
<!-- LABEL WIDGET -->
<!--<div class="col-md-12 col-sm-6 p-0"
    *ngIf="item.options?.length === 0 && item.defaultType==='label'" [innerHtml]="item.text | safeHtml">
</div>-->
<!-- LINE WIDGET -->
<div class="col-md-12 col-sm-6 p-0"
    *ngIf="item.options?.length === 0 && item.defaultType==='line'">
    <hr>
</div>
<!-- AUTO COMPLETE -->
<app-auto-fill class="mb-3" *ngIf="item.type==='autoComplete'"  [data]="toolTypes" (actionEvent)="getSelectedItem($event)"></app-auto-fill>
<!-- POPUP CONTROL -->
<div class="form-group mb-0" *ngIf="item.type==='popup'">
    <div class="pt-2 pb-2">
        <app-auto-fill [data]="templates" [selectedValue]="item.attrs?item.attrs['tempName']:'Search Template'" (actionEvent)="getSelectedElement(item,$event)"></app-auto-fill>
    </div>
</div>