ul
{
  padding: 0;
  display: -webkit-box;
  overflow-x: scroll;
  margin: 0;
}

ul::-webkit-scrollbar {
  display: none;
}

ul li
{
  padding: 0 15px;
  list-style: none;
}

img
{
  border-radius: 15px;
  height: 200px;
}

@media screen and (max-width:640px)
{
  img
  {
    width: 100%;
  }
}
