<div class="container-fluid">
  <div class='row'>
    <div class='col-12'>
      <div class="jumbotron light-blue">
        <ul>
          <li>
            <a #backBtn (click)="onClickBack(0)">
              <i class='fas text-white fa-arrow-left'></i>
            </a>
          </li>
          <li>
            <img src='{{data.img}}' class='' width='50px' height='50px' *ngIf="data.img !==''"/>
            <i class="imgBlock fas fa-3x fa-{{data.icon}}" *ngIf="data.img===''"></i>
          </li>
          <li>
            <ul [ngStyle]="{'font-size': data.specialiation == '' ? '2.5rem' : ''}">
              <li><b class='text-white docName' [ngStyle]="{'font-size': data.specialiation == '' ? '1.5rem' : '12px'}">{{data.name | titlecase}}</b><b class='d-none'>003</b></li>
              <li *ngIf="data.specialiation != '' && data.specialiation != null"><b class='text-white speciality'>{{data.specialiation | titlecase}}</b></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
