*{
  outline:none;
  outline-width:0;
}

.login
{
  overfloat:hidden;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 320px;
  height: 95%;

  -webkit-box-shadow: 10px 0px 53px 0px rgba(0,0,0,0.34);
-moz-box-shadow: 10px 0px 53px 0px rgba(0,0,0,0.34);
box-shadow: 10px 0px 53px 0px rgba(0,0,0,0.34);

border-radius: 15px;
}

.loginDiv{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  margin-bottom:50px;
}

.container-fluid{
/*   background: #0F2027;  fallback for old browsers
background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  Chrome 10-25, Safari 5.1-6
background: linear-gradient(to right, #2C5364, #203A43, #0F2027); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(45deg,#28414e,#472933);
position: absolute;
width: 100%;
height: 100%;
}

.mobileDiv
{
  position: relative;
}

.login{
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,.145) !important
}

.login .form-group:first-child .form-control:nth-child(2){
  padding-left: 80px !important;
  font-weight: 700 !important;
  box-shadow: 0px 0px 15px 1px rgba(0,0,0,.145) !important;
  border: none;
}

.login .form-group:nth-child(2) .form-control{
  box-shadow: 0px 0px 15px 1px rgba(0,0,0,.145) !important;
}

.login select{
  width: 70px;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 15px !important;
  border-radius: 10px;
  border:  none;
  box-shadow: none !important;
  outline: none;
  padding: 8px 0 9px 10px !important;
  font-weight: 700;
  background-color: white !important;
}

.login select option{
  font-size: 12px;
  padding: 15px !important;
}

.loginDiv .btn
{

    /* box-shadow: 0px 0px 15px 10px rgba(0,0,0,.145) !important; */
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(0,0,0,.14) !important;
    font-size: 13px !important;
}

.loginDiv .text-danger
{
  font-weight: bold;
  font-size: 15px;
}

.loginDiv .form-group button.icon{
  background:none;
  border:none !important;
  position: absolute;
    top: 0;
    right: 0;
    margin-top: 5px;
    font-size: 12px;
    margin-right: 10px;
    outline:none;
    box-shadow:none;
    outline-width:0;
}

.loginDiv .form-group #enterBtn{
  padding: 8px 12px;
    border-radius: 50%;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(255,152,0,.4);
    cursor: pointer;
    float: right;
    margin-top: -2px;
}

.login .header{
  position: absolute;
    top: 0;
    left: 0;
    margin: auto;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    /* background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    background: linear-gradient(to top, rgba(32, 105, 156, 1), rgba(32, 105, 156, 1), rgba(32, 105, 156, 0)); */
    background: linear-gradient(to top, rgba(54, 120, 163, 1), rgba(54, 120, 163, 1), rgba(54, 120, 163, 0));
    border-radius:15px;
}

.login .header div{
  position: absolute;
    top: 0;
    left: 0;
    margin: auto;
    right: 0;
    bottom: 0;
    width: 250px;
    height: 250px;
    text-align: center;
    z-index:3;
}

.login .header img{
  background: #FFF;
    border-radius: 5px;
    padding: 5px 5px 7px 2px;
}

.login .header h4{
  padding:30px 30px 10px 30px;
}

.login .header p{
  font-size:13px;
}

.carousel-inner
{
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.carousel-inner img{
  width:100%;
}

.gradient
{
  border-radius:15px;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 320px;
  height: 100%;
  /* background: linear-gradient(to top, rgba(32, 105, 156, 1), rgba(32, 105, 156, 0));
  background: linear-gradient(to top, rgba(255, 255, 156, 1), rgba(177, 150, 96, 1), rgba(255, 255, 156, 0)); */
  background: linear-gradient(to top, rgba(32, 105, 156, 1), rgba(32, 105, 156, 1), rgba(32, 105, 156, 0));
  z-index: 1;
}

.register
{
  z-index: 3;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 5px;
  width: 100%;
  -webkit-animation: regAnim .5s ease-in-out;

}

@keyframes regAnim
{
  0%{ opacity: 0; -webkit-transform: translateY(50px) }
  100%{ opacity: 1; -webkit-transform: translateY(0px) }
}

.register .gender
{
  border:1px solid #FFF;
  border-radius: 5px;
  padding: 7px;
  text-align:center;
  font-size: 15px;
  color:#FFF;
  font-weight: 600;
  width: 33.3333%;
  float: left;
}

.register .password{
  position: relative;
}

.register .password i.fa
{
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 15px;
    font-size: 15px;
    margin-bottom: 12px;
}

.white, .white>i{
  background: linear-gradient(60deg,#FFF,#ffffff);
  color: #333333 !important;
}

.form-group
{
  position: relative;
}

.form-group>fa-icon
{
    position: absolute;
    right: 0;
    margin-right: 15px;
    font-size: 15px;
    margin-top: 12px;
    top: 0;
    color: #666666;
}

.forgot
{
  font-size: 12px;
}
