<div class="container-fluid scrollableDiv">
  <div class="row">
      <div class="mb-4 form-group" [hidden]='!item.canShow'
      [ngClass]="[item.width?'col-sm-'+item.width:'col-sm-12']"
          *ngFor="let item of form?.controls;let i=index">
          <label *ngIf="item.defaultType!=='table' && item.type!=='button' && item.type!=='loadForm' && item.type!=='text' && containers.includes(item.defaultType) === false" class="control-label"
              [innerHtml]="item.label | keepHtml"></label>
          <div *ngIf="item.defaultType==='container'">
              <div *ngFor="let sItem of item.controls;let idx=index1">
                  <label *ngIf="sItem.defaultType!=='table' && sItem.type!=='button' && sItem.type!=='loadForm' && sItem.type!=='text' && containers.includes(sItem.defaultType) === false" class="control-label"
              [innerHtml]="sItem.label | keepHtml"></label>
                  <app-widget [item]="sItem" 
                  [ngClass]="[sItem.width?'col-sm-'+sItem.width:'col-sm-12']"
                  (actionEvent)="widgetActionEvent($event)"></app-widget>
              </div>
          </div>
          <app-widget [item]="item" (actionEvent)="widgetActionEvent($event)"></app-widget>
      </div>
  </div>
</div>