.footer
{
    background: #ffffff;
    display: block;
    position: fixed;
    bottom: -1px;
    height: 50px;
    width: 100%;
    /* box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, .8)
    box-shadow: 0px 2px 60px 30px rgba(0, 0, 0, .8) */
}

/* .footer .nav-pills
{
  margin-top: -9px;
}

.footer .nav-pills .nav-link
{
  background: #ffffff;
  display: inline;
  border-radius: 50%;
  padding: 22px 15px;
  text-align: center;
  position: relative;
  text-decoration: none;
}

.footer .nav-pills .nav-link:focus, .footer .nav-pills .nav-link:active
{
  background: #eeeeee !important;
}

.footer .nav-pills .nav-item:nth-child(1) .nav-link::after
{
  content:'Home';
  position: absolute;
  left: 0;
  bottom: 0;
  color: #333333;
  font-size: 12px;
  font-weight: 600;
  margin-left: 10px;
}

.footer .nav-pills .nav-item:nth-child(2) .nav-link::after
{
  content:'Book Appointment';
  position: absolute;
  left: 0;
  bottom: 0;
  color: #333333;
  font-size: 12px;
  font-weight: 600;
  margin-left: 10px;
    margin-bottom: 16px;
}

.footer .nav-pills .nav-item:nth-child(3)::after
{
  content:'Health Files';
  position: absolute;
  left: 0;
  bottom: 0;
  color: #333333;
  font-size: 12px;
  font-weight: 600;
  margin-left: 12px;
  width: 100%;
  height: 100%;
  top: 30px;
  margin-left: 0px;
}

.footer .nav-pills .nav-item:nth-child(2)
{
  margin-top: -15px;
}

.footer .nav-pills .nav-item:nth-child(2) .nav-link
{
  padding:40px 25px;
}

.footer .nav-pills .nav-item:nth-child(2) .nav-link i
{
  font-size: 40px;
}

.footer .nav-pills .nav-link i
{
  font-size: 25px;
} */

.footer .nav .nav-item a
{
  padding: 0 !important;
  margin-top: 7px !important;

}

.footer .nav-item a i{
  font-size: 20px;
}

.footer img
{
  width:20px;
  height: auto;
}
.footer .nav .nav-item a p
{
  margin: 0 !important;
}

/* .footer .nav-justified .nav-item
{
  margin-top: 7px;
} */
