img.img-thumbnail{
  height: 100px;
  width: 100px;
  background-color: transparent;
  border:1px solid rgba(0,0,0,.4);
  margin-top: 10px;
  border-radius: 50px;
  padding: 0;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,.4);
}

.jumbotron
{
  position: relative;
  z-index: 2;
}

.profiles
{
  position: relative;
}

.profiles app-patient-profiles
{
  width:100%;
  padding-left: 100px;
  float: left;
}

.addNewProfile
{
  height: 125px;
}

.addNewProfile a
{
  position: absolute;
    top: 0px;
    left: 15px;
    z-index: 1;
  margin-top: 7px;
  padding: 10px;
  float: left;
  background-color: #f5f5f5;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}

.addNewProfile a p{
  margin-top: 15px;
    margin-bottom: 0px;
    padding: 0;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    height: 37px;
    display: block;
    overflow: hidden;
}

.addNewProfile a i.fa-plus
{
  border: 1px solid #666;
  border-radius: 50px;
  font-size: 25px;
  padding: 20px;
  /* margin-right: 3px; */
}

.addNewProfile a i.fa-check-circle
{
  position: absolute;
    top: 5px;
    right: 5px;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,.4);
    border-radius: 50px;
}

.btn
{
  margin-bottom: 10px;
}

.footer
{
  width: 50%;
  padding: 15px;
}
