*:not(.divider){
  font-size: 17px;
}
.navbar-nav{
  margin-top: -7px;
  margin-right: 0;
  flex-direction: row !important;
}

.navbar-nav>li>a{
  padding: 20px 15px;
}

.navbar-nav>li>a>i{
  position: relative;
}

.form-control{
  background: transparent;
  border:none;
  border-radius: 0;
  box-shadow: none;
  border-bottom: 1px solid #cccccc;
}

.navbar-nav .dropdown-menu
{
  position: absolute;
  background: #ffffff;
  box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(156,39,176,.4);
  margin-left: -100px;
  width: 150px;
}

.navbar-nav .dropdown-menu a{
  padding:15px;
}

.navbar-nav .badge{
  font-weight: 400;
  font-size: 10px;
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 15px;
  margin-right: 30px;
}
