.jumbotron
{
height: 100vh;
}
.form-group>i.fa
{
    position: absolute;
    right: 0;
    margin-right: 15px;
    font-size: 15px;
    margin-top: 36px;
    top: 0;
    color: #666666;
}

.form-group{
  position: relative;
}

h2{
  margin: 15px 0 30px 0;
}

ul li{
  list-style: none;
}
