.jumbotron
{
  padding: 7px 0px 15px 0px;
  position: relative;
  z-index: 2;
}

.jumbotron img, .jumbotron .imgBlock
{
  border-radius: 50px;
  vertical-align: top;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,.24);
  margin-left: -20px;
  background-color: white;
  padding: 5px;

}

.jumbotron .imgBlock
{
  width: 50px;
  height: 50px;
  vertical-align: middle;
  padding: 10px;
  text-align: center;
}

.jumbotron .docName
{
  font-size: 12px;
}

.jumbotron .fee, .jumbotron .speciality
{
  font-size:12px;
}

.jumbotron>ul
{
  list-style:none;
  margin-bottom: 0;
  display: inline;
  padding-left: 20px;
}

.jumbotron ul ul{
  display: inline-grid;
  vertical-align: middle;
  padding-left: 0px;
}

.jumbotron ul ul li:first-child{
  margin: 0 0 0 5px !important;
}

.jumbotron ul li{
  display: inline;
  margin: 5px;
}

.jumbotron .rightLabel{
  position: absolute;
  top:35px;
  right:15px;
  font-size: 12px;

}

.jumbotron>ul>li:first-child{
    height: 50px;
    vertical-align: middle;
    float: left;
    line-height: 3.7;
}
