<app-jumbotron [data]="jumbotron" (actionEvent)="onNavigateBack($event)"></app-jumbotron>
<div class="container mt-4">
  <div class="row">
    <div class="col-sm-12" [formGroup]="registerForm" *ngIf="registerForm !== undefined">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class='scrollableDiv'>
        <div class="form-group">
          <label for="APP_NAME">App Name</label>
          <input type="text" formControlName="APP_NAME" placeholder='Application Name' class="form-control" [ngClass]="{ 'is-invalid': submitted && f.APP_NAME.errors }" />
                  <div *ngIf="submitted && f.APP_NAME.errors" class="invalid-feedback">
                      <div class='text-danger' *ngIf="f.APP_NAME.errors.required">This field is required</div>
                  </div>
        </div>
        <div class="form-group">
          <label for="accessTokenExpiry">AccessTokenExpiry</label>
          <input type="text" formControlName="accessTokenExpiry" placeholder='AccessToken Expiry' class="form-control" [ngClass]="{ 'is-invalid': submitted && f.accessTokenExpiry.errors }" />
                  <div *ngIf="submitted && f.accessTokenExpiry.errors" class="invalid-feedback">
                      <div class='text-danger' *ngIf="f.accessTokenExpiry.errors.required">This field is required</div>
                  </div>
        </div>
        <div class="form-group">
          <label for="accessTokenSecret">AccessTokenSecret</label>
          <input type="text" formControlName="accessTokenSecret" placeholder='AccessToken Secret' class="form-control" [ngClass]="{ 'is-invalid': submitted && f.accessTokenSecret.errors }" />
                  <div *ngIf="submitted && f.accessTokenSecret.errors" class="invalid-feedback">
                      <div class='text-danger' *ngIf="f.accessTokenSecret.errors.required">This field is required</div>
                  </div>
        </div>
        <div class="form-group">
          <label for="authURL">AuthURL</label>
          <input type="text" formControlName="authURL" placeholder='AuthURL' class="form-control" [ngClass]="{ 'is-invalid': submitted && f.authURL.errors }" />
                  <div *ngIf="submitted && f.authURL.errors" class="invalid-feedback">
                      <div class='text-danger' *ngIf="f.authURL.errors.required">This field is required</div>
                  </div>
        </div> 
        <div class="form-group">
          <label for="checkAuthURL">CheckAuthURL</label>
          <input type="text" formControlName="checkAuthURL" placeholder='CheckAuthURL' class="form-control" [ngClass]="{ 'is-invalid': submitted && f.checkAuthURL.errors }" />
                  <div *ngIf="submitted && f.checkAuthURL.errors" class="invalid-feedback">
                      <div class='text-danger' *ngIf="f.checkAuthURL.errors.required">This field is required</div>
                  </div>
        </div> 

        <div class='form-group form-check'>          
          <label for="grantType">Grant Type</label>
          <ul>
            <li><input type="checkbox" formControlName="password">Password</li>
            <li><input type="checkbox" formControlName="refreshToken">Refresh Token</li>
            <li><input type="checkbox" formControlName="client_credentials">Client Credentials</li>
            <li><input type="checkbox" formControlName="authorization_code">Authorization Code</li>
          </ul>
        </div>                                
        <div class="form-group">
          <label for="refreshTokenExpiry">RefreshTokenExpiry</label>
          <input type="text" formControlName="refreshTokenExpiry" placeholder='RefreshToken Expiry' class="form-control" [ngClass]="{ 'is-invalid': submitted && f.refreshTokenExpiry.errors }" />
                  <div *ngIf="submitted && f.refreshTokenExpiry.errors" class="invalid-feedback">
                      <div class='text-danger' *ngIf="f.refreshTokenExpiry.errors.required">This field is required</div>
                  </div>
        </div>
        <div class="form-group">
          <label for="refreshTokenSecret">RefreshTokenSecret</label>
          <input type="text" formControlName="refreshTokenSecret" placeholder='RefreshToken Secret' class="form-control" [ngClass]="{ 'is-invalid': submitted && f.refreshTokenSecret.errors }" />
                  <div *ngIf="submitted && f.refreshTokenSecret.errors" class="invalid-feedback">
                      <div class='text-danger' *ngIf="f.refreshTokenSecret.errors.required">This field is required</div>
                  </div>
        </div>        
        <div class="form-group">
          <label for="serviceContext">ServiceContext</label>
          <input type="text" formControlName="serviceContext" placeholder='ServiceContext' class="form-control" [ngClass]="{ 'is-invalid': submitted && f.serviceContext.errors }" />
                  <div *ngIf="submitted && f.serviceContext.errors" class="invalid-feedback">
                      <div class='text-danger' *ngIf="f.serviceContext.errors.required">This field is required</div>
                  </div>
        </div>
        <div class="form-group">
          <label for=''></label>
          <button class="btn btn-primary form-control">Register</button>
        </div>
      </form>
    </div>
  </div>
</div>