.fileUpload
{
  /* background: #3bb878; */
}

.fileUpload .message
{
  margin-top: 40%;
  text-align: center;
}

.fileUpload .message h3{
  color: #ffffff;
  font-size: 25px;
}

.fileUpload .message i.fa{
  padding: 5px;
  background: #efefef;
  border-radius: 5px;
  position: relative;
}

.fileUpload .message i.fa:nth-child(2)
{
  z-index: 3;
  color: #3bb878;
}

.fileUpload .message i.fa:first-child
{
  -webkit-transform: rotate(-50deg) translateX(15px) translateY(10px);
  color: #d9197c;
}

.fileUpload .message i.fa:last-child
{
  -webkit-transform: rotate(50deg) translateX(-15px) translateY(10px);
  color: #465294;
}

.badge-primary
{
  /* padding: 3px 3px 2px 4px; */
  padding: 4px 5px;
    border-radius: 3px;
    background: #efefef;
    color: #666666;
}

.fileUpload button.addFile
{
  position: fixed;
  bottom: 0px;
  right: 0px;
  margin-right: 50px;
  margin-bottom: 100px;
  border-radius: 50px;
  padding: 12px 15px;
  -webkit-transition: all .5s ease-in-out;
  box-shadow: none;
  outline: none;
  outline-width: 0;
  box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(0,0,0,.4);
  /* background-color:#ffffff !important;
  border-color:#ffffff !important;
  color: #3bb878; */
  z-index: 1;
}

.fileUpload button.addFile:active
{
  background-color:#ffffff !important;
  color: #3bb878;
}

/* .fileUpload button.addFile:hover
{
  -webkit-transform: rotate(45deg);
} */

.fileUpload .uploadedFiles
{
  padding:15px;
}
