<!-- The Modal -->
<div class="modal" id="mdlFilter">
  <div class="modal-dialog">
    <div class="modal-content light-green">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Filters</h4>
        <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">

        <div class="col-sm-12">
          <div class="form-group">
            <label for="appointmentNo">
              <input type="checkbox" [(ngModel)]="filter.isAppointment" id='appointmentNo' (change)="changeCheckBox('appNo')" /> Appointment No
            </label>
            <input type="text" class="form-control" [disabled]='!filter.isAppointment' [(ngModel)]='filter.appointmentNo' placeholder="Appointment No" />
          </div>
          <div class="form-group">
            <label for="Date">
              <input type="checkbox" [(ngModel)]="filter.isAppointmentDate" id='date' (change)="changeCheckBox('appDate')" /> Date
            </label>
            <div class="">
              <label class="control-label">From Date</label>
            <input type="date" class="form-control" [disabled]='!filter.isAppointmentDate' [(ngModel)]='filter.fromDate' placeholder="dd-mm-yyyy" />
            <label class="control-label">To Date</label>
            <input type="date" class="form-control" [disabled]='!filter.isAppointmentDate' [(ngModel)]='filter.toDate' placeholder="dd-mm-yyyy" />
          </div>
          </div>
          <div class="form-group">
            <label for="visitStatus">
              <input type="checkbox" [(ngModel)]="filter.isVisitStatus" id='visitStatus' (change)="changeCheckBox('visitStatus')" /> Visit Status
            </label>
            <select class="form-control" [disabled]='!filter.isVisitStatus' [(ngModel)]='filter.visitStatus'>
              <option value="" selected>Choose Status</option>
              <option value="{{item.value}}" *ngFor="let item of visitStatus">{{item.name}}</option>
            </select>
            <!-- <select class="form-control" [disabled]='!filter.isVisitStatus' [(ngModel)]='filter.visitStatus'>
              <option value="" selected>Choose Status</option>
              <option value="Pending">Pending</option>
              <option value="InProgress">InProgress</option>
              <option value="Paid">Paid</option>
              <option value="Completed">Completed</option>
              <option value="Rejected">Rejected</option>
              <option value="Cancelled">Cancelled</option>
            </select> -->
          </div>
        </div>

      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal" (click)='clearForm()'>Clear</button>
        <button type="button" class="btn" data-dismiss="modal" (click)='onSubmit()'>Apply</button>
      </div>

    </div>
  </div>
</div>
