.modal{
  bottom: 0;
  background-color: rgba(0,0,0,.4);
}

.modal-backdrop
{
  background-color: white !important;
}

.modal-header
{
  padding: 15px;
}

.modal-header button
{
  opacity: 1;
  padding-right: 15px;
}

.modal-dialog{
  bottom: 0;
  position: fixed;
  width: 100%;
  right: 0;
  margin: 0;
  border: none;
}

.modal-content
{
  border: none;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  box-shadow: 0px 0px 50px 10px rgba(0,0,0,.4);
}

.modal h4{
  font-weight: 600;
  font-size: 15px;
}

.modal-footer
{
  padding: 0;
}

.modal-footer .btn
{
  font-size: 15px !important;
    padding: 15px;
    margin: 0;
    border: none;
    width: 50%;
    text-align: center;
    font-weight: 600;
    text-shadow: 0px 0px 2px rgba(0,0,0,.145) !important;
    box-shadow: none;
}

.modal .modal-footer .btn:first-child
{
  border-right: 1px solid rgba(0,0,0,.15);
}