.scrollableDiv
{
    padding: 15px 0;
}

h3{
    margin:0 !important;
    padding: 15px;
    font-weight: 400 !important;
}

.img-fluid
{
    border-radius: 16px;
    padding: 0px;
    border: none;
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,.05);
}

p
{
    font-weight: 500;
    font-size:10px;
    text-align: center;
    margin-top: 10px;
}

a{
  text-decoration: none;
}
