<div class="mt-5 container-fluid scrollableDiv">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h4 class="col-sm-10">Services</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-header">
                                <h4>Service ID</h4>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="form-group col-sm-12 p-0">
                                        <label class="control-label mt-3 col-sm-4">Source</label>
                                        <div class="col-sm-8">                                            
                                            <!--<select class="form-control" [(ngModel)]="serviceSourceId" (change)="onChangeService()">
                                                <option value="createSvc" selected>Create Service</option>
                                                <option value="createViewSvc" selected>Create View Service</option>
                                                <option *ngFor="let item of serviceData" [value]="item.id.source">{{item.id.source}}</option>
                                            </select>-->
                                            <app-auto-fill [data]="serviceList" [selectedValue]="serviceSourceId === 'createSvc'?'Create Service':(serviceSourceId === 'createViewSvc'?'Create View Service':serviceSourceId) " [placeholder]="'Search Service'" (actionEvent)="onChangeGrpService($event)" (notFoundEvent)="serviceNotFound($event)">
                                            </app-auto-fill>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12 p-0" *ngIf="(serviceSourceId === 'createViewSvc' || serviceSourceId === 'createSvc')">
                                        <label class="control-label mt-3 col-sm-4">New Source</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" [(ngModel)]="newServiceId" />
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12 p-0" *ngIf="(isOrchService === false && (serviceSourceId !== 'createSvc' && (serviceSourceId === 'createViewSvc' || serviceTargetBody !== undefined))) === false">
                                        <label class="control-label mt-3 col-sm-4">Target</label>
                                        <div class="col-sm-8">
                                                <app-auto-fill [data]="dbTables" [selectedValue]="serviceTarget === ''?'Search Member':serviceTarget" [placeholder]="'Search Member'" (actionEvent)="getTargetMember($event)" (notFoundEvent)="notFoundMember($event)"
                                                    *ngIf="isOrchService === false">
                                                </app-auto-fill>
                                            <select [(ngModel)]="orchType" class="form-control" *ngIf="isOrchService === true"
                                                (change)="changeOrchType()">
                                                <option value="" selected>Choose Type</option>
                                                <option value="sync">Synchronous</option>
                                                <option value="async">Asynchronous</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12 p-0"
                                        *ngIf="isOrchService === false && (serviceSourceId !== 'createSvc' && (serviceSourceId === 'createViewSvc' || serviceTargetBody !== undefined))">
                                        <label class="control-label mt-3 col-sm-4">Target Body</label>
                                        <div class="col-sm-8">
                                            <!--<input type="text" class="form-control" [(ngModel)]="serviceTargetBody" />-->
                                            <textarea class="form-control txt-body" rows="40" cols="20" [(ngModel)]="serviceTargetBody">
                                                </textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-header">
                                <h4>End Point</h4>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="form-group col-sm-12 p-0">
                                        <label class="control-label mt-3 col-sm-4">Source</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" placeholder="/api/v1"
                                                [(ngModel)]="model.endpoint.source" />
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12 p-0">
                                        <label class="control-label mt-3 col-sm-4">Target</label>
                                        <div class="col-sm-8">
                                            <select [(ngModel)]="model.endpoint.target" class="form-control"
                                                (change)="changeEndpointTarget()">
                                                <option value="chooseTarget" selected>Choose Target</option>
                                                <option *ngFor="let item of components" [value]="item.id">{{item.id}}
                                                </option>
                                                <option value="createTarget">Create Target</option>
                                            </select>
                                        </div>
                                    </div>                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt=3">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="col-sm-11">Operations</h4>
                                <span class="col-sm-1 float-right btn btn-sm light-blue text-white"><i
                                    class="fa fa-times"></i></span>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="card">
                                            <div class="card-header">
                                                <h4>ID</h4>
                                            </div>
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="form-group col-sm-12 p-0">
                                                        <label class="control-label mt-3 col-sm-4">Source</label>
                                                        <div class="col-sm-8">
                                                            <select [(ngModel)]="currentOpr" class="form-control"
                                                                (change)='onChangeOpr($event)'>
                                                                <option value="" selected>Choose Source</option>
                                                                <option *ngFor="let item of httpType"
                                                                    [value]="item.id.source">{{item.id.source}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-sm-12 p-0">
                                                        <label class="control-label mt-3 col-sm-4">Target</label>
                                                        <div class="col-sm-8">
                                                            <input type="text" class="form-control"
                                                                [(ngModel)]="operation.id.target" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="card">
                                            <div class="card-header">
                                                <h4>Security Level</h4>
                                            </div>
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="form-group col-sm-12 p-0">
                                                        <label class="control-label mt-3 col-sm-4">Source</label>
                                                        <div class="col-sm-8">
                                                            <select id='ddlSLTarget' class="form-control"
                                                                [(ngModel)]="operation.securityLevel.source">
                                                                <option value="" selected>Choose Target</option>
                                                                <option *ngFor="let item of securityLevels"
                                                                    [value]="item.source">{{item.source | titlecase}}
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-sm-12 p-0">
                                                        <label class="control-label mt-3 col-sm-4">Target</label>
                                                        <div class="col-sm-8">
                                                            <select id='ddlSLTarget' class="form-control"
                                                                [(ngModel)]="operation.securityLevel.target">
                                                                <option value="" selected>Choose Target</option>
                                                                <option *ngFor="let item of securityLevels"
                                                                    [value]="item.target">{{item.target | titlecase}}
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" *ngIf="isOrchService === true">
                                    <div class="col-sm-12">
                                        <div class="card">
                                            <div class="card-header">
                                                <h4 class="col-sm-8 mt-3">Selected {{model.endpoint.target | titlecase}} Target(s)</h4>
                                                <div class="col-sm-4">
                                                    <select class="form-control" [(ngModel)]="syncActionType" (change)="addOrchService()">
                                                        <option value="" selected>Choose Type</option>
                                                        <option *ngFor="let elementType of syncActionTypes"
                                                            [value]="elementType">{{elementType}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-sm-12 text-white">
                                                        <div cdkDropList class="example-list mt-20" (cdkDropListDropped)="drop($event)">
                                                            <div class="secondary-color example-box" *ngFor="let servItem of syncServices, index as i"
                                                                cdkDrag>
                                                                <div class="w-10 drag-icon">
                                                                    <i class="material-icons" cdkDragHandle>reorder</i>
                                                                </div>
                                                                <div class="w-100 drag-content">
                                                                    <!--<div class="f-12" *ngIf="servItem.type === 'service'">
                                                                        <div class="col-sm-6 mb-2 mt-2">
                                                                            <input class="form-control" list="services" placeholder="Search Service" [(ngModel)]="servItem.id.source">
                                                                            <datalist id="services">
                                                                                <option *ngFor="let item of serviceData">{{item.id.source}}</option>
                                                                            </datalist>
                                                                        </div>
                                                                        <div class="col-sm-6 mb-2 mt-2">
                                                                            <input class="form-control" list="oprs" placeholder="Search Method" [(ngModel)]="servItem.operation.id.source">
                                                                            <datalist id="oprs">
                                                                                <option *ngFor="let item of httpType">{{item.id.source}}</option>
                                                                            </datalist>
                                                                        </div>
                                                                    </div>-->
                                                                    <ul class="f-12" *ngIf="servItem.type === 'service'">
                                                                        <li>
                                                                            <app-auto-fill [data]="DBTablesAutoComplete" [selectedValue]="servItem.id?.source?servItem.id?.source:'Search Service'" [placeholder]="'Search Service'" (actionEvent)="getSelectedService(servItem,$event)">
                                                                            </app-auto-fill>
                                                                        </li>
                                                                        <li>                                                                            
                                                                            <app-auto-fill [data]="operationList" [selectedValue]="servItem.operation?.id?.source?servItem.operation?.id?.source:'Search Operation'" [placeholder]="'Search Service'" (actionEvent)="getSelectedOpr(servItem,$event)">
                                                                            </app-auto-fill>
                                                                        </li>
                                                                    </ul>
                                                                    <ul class="f-12" *ngIf="servItem.type === 'condition'">
                                                                        <div class="col-sm-4">
                                                                            <select class="form-control">
                                                                                <option value="if" selected>If</option>
                                                                                <option value="else" selected>Else</option>
                                                                                <option value="elseif" selected>ElseIf</option>
                                                                                <option value="end" selected>End</option>
                                                                            </select>
                                                                        </div>
                                                                    </ul>
                                                                </div>
                                                                <div class="dropdown">
                                                                    <button class="btn btn-default dropdown-toggle f-10 text-white" type="button" id="dropdownMenuButton"
                                                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                        <i class="fa fa-cog f-10 mr-2"></i> Mapping
                                                                    </button>
                                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                                        <a *ngFor="let actonItem of mappingActions" class="dropdown-item f-12 p-3"
                                                                        (click)="showMapping(actonItem, servItem)">
                                                                            <i class="fa {{actonItem.icon}} f-10 fa-rotate-90 text-success"></i>
                                                                            {{actonItem.desc}}
                                                                        </a>
                                                                    </div>
                                                                </div>                                                 
                                                                <div class="w-10 delete-icon">
                                                                    <a class="text-white" href="javascript:void(0);"><i class="fas fa-times-circle text-white f-15"
                                                                        (click)="removeItem($event, servItem)"></i></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>                                
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="col-sm-6">Parameters</h4>
                                                <span class="col-sm-5 mt-1 text-right"> Required</span>
                                                <input type="checkbox" class="" [(ngModel)]="isRequireParams"
                                                    (change)="onRequireParams()" />
                                                <span class="btn btn-sm light-blue text-white float-right"
                                                    (click)="addColumnParam()"><i
                                                        class="fa fa-plus"></i></span>
                                            </div>
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="form-group col-sm-6 p-0">
                                                        <label class="control-label mt-3 col-sm-4">Param Name</label>
                                                        <div class="col-sm-8">
                                                            <input type="text" class="form-control" id='inputparamSrc'
                                                            [disabled]="serviceElementTag" #inputparamSrc [(ngModel)]="serviceElement"/>
                                                        </div>
                                                    </div>                                                    
                                                    <div class="form-group col-sm-6 p-0">
                                                        <label class="control-label mt-3 col-sm-4">Type</label>
                                                        <div class="col-sm-8">
                                                            <select class="form-control" id='inputparamTgt'
                                                                #inputparamTgt [(ngModel)]="serviceElementType">
                                                                <option value="" selected>Choose Type</option>
                                                                <option *ngFor="let elementType of serviceElementTypes"
                                                                    [value]="elementType.source">{{elementType.source}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row table-responsive">
                                                    <div class="col-sm-12">
                                                        <table class="table table-bordered f-12">
                                                            <thead>
                                                                <tr>
                                                                    <th class="light-blue text-white">Param Name</th>
                                                                    <th class="light-blue text-white">Type</th>
                                                                    <th class="light-blue text-white"></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody *ngFor="let svcItem of serviceElements">
                                                                <tr>
                                                                    <td (click)="onSelectParam(svcItem)">{{svcItem.paramName}}</td>
                                                                    <td (click)="onSelectParam(svcItem)">{{svcItem.paramType}}</td>
                                                                    <td (click)="onDeleteElement(svcItem)"><i
                                                                        class="text-danger fas fa-times fa-4x"></i></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row justify-content-center mt-3" align='center'>
        <button type="button" class="f-15 btn light-blue text-white button"
            (click)="addUpdateService()">Save</button>
        <button type="button" *ngIf="serviceSourceId !== 'createSvc'" class="f-15 btn light-blue text-white button"
            (click)="removeService()">Remove</button>
    </div>
</div>
    <jw-modal id="custom-modal-2">
        <app-provider-popup [componentIds]="componentIds" [providers]="providers" (actionEvent)="popupActionEvent($event)" *ngIf="isShowPopup === true"></app-provider-popup>
        <app-field-popup [provider]="fieldProvider" [mappingType]="mappingType" [sourceParams]="sourceParams" [targetParams]="targetParams" (actionEvent)="popupActionEvent($event)" *ngIf="isShowFieldPopup === true"></app-field-popup>
    </jw-modal>