h4{
    /* padding: 5px 15px;
      box-shadow: 0px 0px 10px 0px rgba(0,0,0,.145); */
    margin-bottom: 0px;
    font-weight: 500;
    border-radius:30px;
    margin:15px;
    display: inline-block;
    font-size: 2rem;
}

.subHeader
{
  margin-top: 12px;
    padding: 5px 15px;
    border-radius: 15px;
    font-size: 12px;
    font-weight: 700;
    margin-right: 15px;
}

  .header
  {
    float: left;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,.04);
    margin-bottom: 15px;
  }

.header>span
{
  text-align: center;
}

.header span a{
  text-decoration: none;
}

.header>span>a>i
{
  padding: 15px 16px;
    border-radius: 50%;
}

.header>span>a>p
{
font-weight: 600;
}
.header img
{
  width: 50px;
}

.hospitals img
{
  height: 80px !important;
    border-radius: 50px !important;
    padding: 5px;
}

ul.symptoms::-webkit-scrollbar {
  display: none;
}

.symptoms img
{
  width: 70px;
  margin: 0 10px;
}

.symptoms {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
  grid-template-rows: auto auto;
  /* grid-gap: 10px; */
  padding-left: 0px;
  list-style: none;
    overflow: scroll;
}

.symptoms > li {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
}
