img
{
  border-radius: 50px;
  border: 1px solid #0000001a;
}

.patient{
  display: block;
  background: #ffffff;
  width: 100%;
  position: relative;
  /* box-shadow: 0px 0px 15px 0px rgba(0,0,0,.145); */
  z-index: 1;
  padding-right: 15px;
}

.patient ul
{
  padding-left: 0;
  position: relative;
  overflow-x: auto;
  display: inline-flex;
  list-style: none;
  text-align: center;
  margin: 0;
  width: 100%;
  -ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}

.patient ul::-webkit-scrollbar {
  display: none;
}

.patient ul li
{
  list-style: none;
  margin:0px;
  padding: 7px;
}

.patient ul li a{
  position: relative;
  display: block;
  font-weight: 500;
  color: #666666;
  text-decoration: none;
  border: 1px solid #ffffff;
  box-shadow: none;
  outline: none;
  outline-width: 0;
  outline-offset: 0;
  font-size: 12px;
  cursor: pointer;
  font-weight: 700;
  border-radius: 5px;
  padding: 7px;
}

.patient ul li a i
{
  position: absolute;
    top: 5px;
    right: 5px;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,.4);
    border-radius: 50px;
}

.patient ul li a p
{
  margin-top: 15px;
  margin-bottom: 0;
  padding: 0;
}

.patient ul li p b
{
  text-transform: capitalize;
  font-weight: 600 !important;
  height: 37px;
  display: block;
  overflow: hidden;
}

.profileactive
{
  background: #efefef;
  color: #666666 !important;
  box-shadow: 0 7px 10px -5px rgba(0,0,0,.4);
}
