<div class="patient">
  <ul>
    <li [hidden]='profile.canHide' *ngFor="let profile of profiles" >
      <a href='#!' (click)="makeprofileSelected($event, profile)"
      [ngClass]="{'profileactive': profile.selected}"
      >
        <i *ngIf="profile.selected==true" class="fas fa-check-circle text-light-blue"></i>
        <img [src]="profile.Image!='' && profile.Image!=null ? 'data:image/png;base64,'+profile.Image : '../../assets/images/avatar.png'" width="70px" height="70px" />
        <p><b>{{profile.FirstName}}</b></p>
      </a>
    </li>
  </ul>
</div>
